
.custom-drop-down {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #F5F5F3;
}

    .custom-drop-down input {
        border: none;
        padding:15px;
        width:100%;
        background: #F5F5F3;
    }

.custom-drop-down-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 42px;
    max-height: 700%;
    overflow-y: scroll;
    z-index: 99999;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-shadow: 0 7px 19px -2px #CACACA;
    background: white;
    display: none;
}


    .custom-drop-down-list ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
    }

        .custom-drop-down-list ul li {
            padding: 9px 15px;
            border-bottom: 1px solid #EEEEEE;
            width: 100%;
            margin: 0;
        }
         .custom-drop-down-list ul li:active {
            background:#EEEEEE;
        }

            .custom-drop-down-list ul li:first-child {
                border-top: 1px solid #EEEEEE;
            }
