@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff'), /* Modern Browsers */
    url('../fonts/helveticaneue/HelveticaNeue Thin.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lobster/Lobster.ttf') format('truetype'); /* Safari, Android, iOS */
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 15px;
}

    body.rtl {
        direction: rtl;
    }

.mobile-only {
    display: none;
}

.desktop-only {
    display: inline-block;
}

* {
    box-sizing: border-box;
}

body {
    font-family: HelveticaNeue;
    background-image: url("../images/home-bg.png");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

    body.rtl {
        direction: rtl;
    }

nav {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 30px;
    top: 20px;
}

.rtl nav {
    left: unset;
    right: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    nav ul li {
        display: inline-block;
        line-height: 50px;
        padding: 0 10px;
        transition: all ease-in-out .2s;
    }

        nav ul li a,
        nav ul li a:active,
        nav ul li a:visited,
        nav ul li a:hover,
        nav ul li a:link {
            color: white;
            text-decoration: none;
            font-size: 1em;
            letter-spacing: 1.2px;
        }

.btn .caret {
    margin-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-top: 8px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.container .center-div {
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 40%;
}

    .container .center-div p {
        font-size: 5em;
        color: white;
        text-align: center;
        font-weight: lighter;
        margin: 90px 0 40px 0;
    }


    .container .center-div #logo {
        display: inline-block;
        color: white;
        text-align: center;
        font-size: 2em;
        max-width: 150px;
        font-family: Lobster;
    }

        .container .center-div #logo span {
            display: inline-block;
            text-align: center;
        }

        .container .center-div #logo img {
            width: 86px;
        }

    .container .center-div button.btn-start {
        padding: 0 40px;
        line-height: 55px;
        background: #FB8612;
        outline: none;
        border: none;
        color: white;
        width: 250px;
        border-radius: 40px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: relative;
        left: -10px;
        font-size: 17px;
        position: relative;
        bottom: -1px;
        background-image: linear-gradient(234deg, #f7a04b, #ff7f00);
        transition: all ease-in-out .4s;
    }

.rtl .container .center-div button.btn-start {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: unset;
    margin-right:-1px;
    bottom: 0;
    font-size: 21px;
    white-space: nowrap
}


.options {
    position: absolute;
    top: 59px;
    left: 0px;
    width: calc(100% - 6px);
    z-index: 0;
    padding: 0 20px;
    display: none;
    background: white;
    box-sizing: border-box;
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
}

#error-field {
    position: absolute;
    font-size: 1em;
    top: 65px;
    left: 10px;
    color: white;
    font-family: HelveticaNeue;
    display: none;
}
.rtl #error-field {
    left:unset;
    right:10px;
}
.rtl .options {
    left: 2px;
    width: calc(100% - 2px);
}

.options ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .options ul li {
        line-height: 55px;
        border-top: 1px solid rgba(0,0,0,0.2);
        text-align: left;
        padding: 0 10px;
        cursor: pointer;
        background: white;
        letter-spacing: 1.3px;
        padding-bottom: 2px;
    }

.custom-drop.error button {
    border: 2px solid red;
}

.custom-drop {
    position: relative;
    width: 370px;
    display: inline-block;
    margin-right: 0px;
    font-size: 1.1em;
    color: #381611;
}

    .custom-drop img {
    }

    .custom-drop .fa {
        position: absolute;
        right: 23px;
        top: 50%;
        width: 12px;
        font-size: 1.4em;
        opacity: 0.5;
        transform: translateY(-50%);
    }

.rtl .custom-drop .fa {
    right: unset;
    left: 23px;
}

.rtl .custom-drop {
    margin-right: unset;
    margin-left: unset;
    position: relative;
    left: -5px;
    font-size: 2em;
}

    .rtl .custom-drop img {
        position: absolute;
        right: unset;
        left: -20px;
    }

.custom-drop {
    color: #000 !important;
    border-radius: 0;
    border-color: rgba(255,255,255,0.83);
    background-image: none;
    font-size: 1.5em;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Helvetica_Neue_Light", serif;
    border-radius: 35px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-primary {
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 54px;
    width: 100%;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    font-size: 1em;
    text-align: left;
    padding-left: 100px;
    border: 2px solid transparent;
    border-radius: 35px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: unset !important;
    background: white;
    padding: 0;
}

#text-span {
    padding-left: 26px;
}

.rtl .btn-primary {
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 0.8em;
    line-height: 57px;
    text-align: right;
    padding-right: 26px;
}

.rtl .btn .caret {
    right: unset;
    left: 25px;
}

.btn-primary > span {
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: white;
    border: 2px solid transparent;
    color: unset;
    outline: unset !important;
    background-image: unset;
}

.open .dropdown-toggle.btn-primary {
    background: unset;
    color: unset;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
    max-height: 111px;
    overflow-y: hidden;
    width: calc(100% - 5px);
    -webkit-box-shadow: unset;
    box-shadow: unset;
    text-align: left;
    transform: translateY(-68px);
    border-top-left-radius: 36px;
}

.rtl .dropdown-menu {
    width: 100%;
    margin-left: 0px;
    box-shadow: unset;
    text-align: right;
    transform: translateY(-63px);
    border-top-left-radius: 0;
    border-top-right-radius: 36px;
    font-size: 0.7em;
}

.dropdown-menu li {
    width: 90%;
    margin: 0 auto;
}

.dropdown-menu > li a, .dropdown-menu > li a:hover {
    font-family: HelveticaNeue;
    line-height: 48px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown-menu::-webkit-scrollbar {
    width: 0;
}

.dropdown-menu::-webkit-scrollbar-track {
    display: none;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    display: none;
}
/*
.custom-drop input {
    line-height: 56px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    border: none;
    border: 2px solid transparent;
    border-radius: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    font-size: 1.1em;
}
.rtl .custom-drop input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.custom-drop.error input {
    border: 2px solid red;
}

.custom-drop.active input {
    border-bottom-left-radius: 0px;
}

.rtl .custom-drop.active input {
    border-bottom-right-radius: 0px;
}
    
*/
.mobile-bike, .desktop-bike {
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 999999999999;
}

.mobile-bike {
    display: none;
}

@media screen and (max-width: 1400px) {
    body, html {
        font-size: 85%;
        width: 100%;
        height: 100%;
    }

    #error-field {
        top: 65px;
    }

    .container .center-div {
        top: 42%;
    }

        .container .center-div p {
            margin-top: 80px;
        }

        .container .center-div #logo {
            width: 150px;
        }


    .custom-drop {
        width: 320px;
    }

        .custom-drop input {
            line-height: 45px;
            border-radius: 36px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

    .rtl .custom-drop {
        top: -1px;
    }

        .rtl .custom-drop input {
            border-top-right-radius: 36px;
            border-bottom-right-radius: 36px;
        }

    .container .center-div button.btn-start {
        width: 220px;
        border-radius: 35px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        bottom: 0px;
        font-size: 1.2em;
        line-height: 55px;
        white-space: nowrap;
    }

    .rtl .container .center-div button.btn-start {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        left: unset;
        font-size: 1.6em;
        line-height: 58px;
    }

    .options {
        top: 49px;
    }

        .options ul li {
            line-height: 47px;
        }

    nav ul li a {
        font-size: 1.1em;
    }

    .rtl .btn-primary {
        line-height: 56px;
    }
}

@media screen and (max-height: 650px) {
    .container .center-div p {
        font-size: 4em;
        color: white;
        text-align: center;
        font-weight: lighter;
        margin: 40px 0 30px 0;
    }
}

@media screen and (max-width: 750px) {
    html, body {
        height: 100%;
        width: 100%;
        min-height: 100%;
    }

    .btn-primary {
        text-align: center;
    }

    #text-span {
        padding: unset;
    }

    .mobile-only {
        display: none;
    }

    nav ul li:last-child a {
        padding: 5px;
        border: 1px solid white;
        border-radius: 4px;
    }

    nav {
        left: unset;
        right: 10px;
    }

    .container .center-div {
        width: 100%;
        top: 50%;
    }

        .container .center-div p {
            font-size: 3em;
            color: white;
            text-align: center;
            font-weight: lighter;
            margin: 65px 0 50px 0;
        }

        .container .center-div #logo {
            font-size: 1.5em;
            max-width: 30vw;
        }

    .btn-primary {
        background-color: rgba(255,255,255,0.83);
        border-radius: 6.5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 0.9em;
        margin-bottom: -1px;
        line-height: 57px;
        border: 1px solid transparent;
    }

        .btn-primary:active,
        .btn-primary:hover,
        .btn-primary:visited,
        .btn-primary:focus,
        .btn-primary:active:focus {
            border: 1px solid transparent;
        }

    .custom-drop {
        width: 65%;
        min-width: 190px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 6.5pt;
        border-top-right-radius: 6.5pt;
        margin-bottom: -1px;
    }

        .custom-drop input {
            border-radius: 6.5px;
            background-color: rgba(254, 254, 254, 0.83);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid transparent;
            text-align: center;
            padding-bottom: 3px;
        }

            .custom-drop input::-webkit-input-placeholder {
                color: black;
            }

            .custom-drop input:-moz-placeholder { /* Firefox 18- */
                color: black;
            }

            .custom-drop input::-moz-placeholder { /* Firefox 19+ */
                color: black;
            }

            .custom-drop input:-ms-input-placeholder {
                color: black;
            }

    .container .center-div button.btn-start {
        left: 0;
        width: 65%;
        min-width: 190px;
        border-radius: 6.5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-image: linear-gradient(253deg, #fca343, #ff7f00);
    }

    .custom-drop.error input {
        border: 1px solid red;
        padding-bottom: 5px;
    }

    .rtl .custom-drop.error input {
        border-top-left-radius: 6px;
    }

    .rtl .custom-drop {
        left: unset;
    }

    #error-field {
        top: 120px;
        left: 50%;
        width: 100%;
        font-size: 1em;
        transform: translateX(-50%);
    }
    .rtl #error-field {
        left:50%;
        right:unset
    }
    .custom-drop .fa {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .options {
        display: none;
        width: 100%;
        transform: translateY(-100%);
        max-height: 150px;
        padding: 0;
        border-radius: 6.5px;
        background-color: rgba(254, 254, 254, 0.83);
    }

        .options ul li {
            text-align: center;
            background: unset;
            color: black;
        }

    .rtl .options {
        left: unset;
    }

    .desktop-bike {
        display: none;
    }

    .mobile-bike {
        display: block;
    }

    .rtl .container .center-div button.btn-start {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 6px;
        margin-right:0;
        font-size: 1.2em;
        bottom: 1px;
    }

    .rtl .custom-drop input {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: unset;
    }

    .rtl nav {
        left: 20px;
        right: unset;
    }

    .btn .caret {
        margin-left: 0;
        position: unset;
        top: unset;
        transform: translateY(0);
        right: 20px;
        border-top: 5px dashed;
        border-top: 5px solid\9;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }

    .dropdown-menu {
        width: calc(100% + 2px);
        margin-left: -1px;
        margin-top: 1px;
        text-align: center;
        background-color: rgba(255,255,255,0.83);
        transform: translateY(-100%);
        border-radius: 0;
        border-top-left-radius: 6.5px;
        border-top-right-radius: 6.5px;
    }

        .dropdown-menu li {
            width: 100%;
        }

    .custom-drop.error button {
        border: 1px solid red;
    }

    .rtl .btn-primary {
        border-radius: 6px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        padding-right: 0;
    }

    .rtl .dropdown-menu {
        text-align: center;
        transform: translateY(-100%);
        border-top-left-radius: 6.5px;
        border-top-right-radius: 6.5px;
    }
}

@media screen and (max-width: 700px), screen and (max-height: 550px) {
    .container .center-div p {
        font-size: 6.8vh;
    }

    .container .center-div #logo img {
        width: 11vh;
    }

    .container .center-div #logo span {
        font-size: 3vh;
    }
}

@media screen and (max-height: 500px) {
    .container .center-div p {
        font-size: 2.6em;
    }

    .mobile-bike {
        bottom: 5vh;
    }
}

.dropdown-menu > li > a:hover {
    background-color: unset;
    background-image: none;
}
