@font-face {
	font-family: 'OpenSansHebrew';
	src: url('../fonts/Hebrew/OpenSansHebrew.woff') format('woff'),
	url('../fonts/Hebrew/OpenSansHebrew.ttf') format('truetype');
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/lobster/Lobster.woff') format('woff'),
	url('../fonts/lobster/Lobster.ttf') format('truetype');
}
html,  body {
	height: 100%;
	overflow:hidden;
}
html {box-sizing: border-box;}
body {
	margin: 0;
	color: #fff;
	font-size: 15px;
	line-height: 18px;
	font-family: 'OpenSansHebrew', serif;
	min-width: 320px;
	background:url(../img/bg.png)  no-repeat fixed top center;
	background-size:cover;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
* {max-height: 1000000px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'OpenSansHebrew', serif;}
a{
	text-decoration: none;
	transition: all 1s;
}
a:hover{text-decoration: none;}
input:focus, select:focus, textarea:focus,
button:hover, button:focus,
a:hover, a:focus {
	text-decoration: none;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}
#wrapper{
	overflow: hidden;
	position: relative;
}

#header{
	min-height:105px;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 13pt 15pt 10pt;
	background-image: linear-gradient(77deg, #ff7f00, #ffae5e);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 0.5s;
}
.brn-submit{
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15pt;
	line-height: 20pt;
	color: #fff;
	height: 48px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-border-radius: 0 0 13pt 13pt;
	-moz-border-radius:0 0 13pt 13pt;
	border-radius: 0 0 13pt 13pt ;
	background-image: linear-gradient(77deg, #53e590, #34d861);
}
.brn-submit:hover{
	background-image: linear-gradient(77deg, #34d861, #53e590);
	color: #fff;
}
.offline:focus, .offline:hover,
.offline {
	background:#b0b0b0;
}


#header.small {min-height: 55px; padding: 13pt 11pt 10pt; }
#header.small .logo{display: none;}
.small .delivery{bottom: 12px;}


.alertify .ajs-dialog{

	position: fixed;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: -50% 0 0;

}

.alertify.ajs-movable:not(.ajs-maximized) .ajs-header{

	pointer-events: none;

}


.alertify.ajs-maximizable .ajs-commands button.ajs-maximize, .alertify.ajs-maximizable .ajs-commands button.ajs-restore,
.alertify.ajs-resizable:not(.ajs-maximized) .ajs-handle{

	display: none;
}
.alertify.ajs-resizable .ajs-commands, .alertify.ajs-maximized .ajs-commands{

	margin: 14px 5px 0 0;
}

.alertify.ajs-closable .ajs-commands button.ajs-close{

	background-image: url(/m/en/img/ic_close.png);
	background-size: 60%;
}



.delivery{
	position: absolute;
	left: 0;
	right:0;
	bottom: 40px;
	width: 100%;
	height: 50px;
	display: block;
}
.logo{
	width: 100px;
	height: 65px;
	margin:0 auto 15px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 0.5s;
}
.logo a{
	display:block;
	height:100%;
}
.logo a img{
	display:block;
	width:52px;
	margin:0 auto 5px;
}
.logo a strong {
	font-size: 18px;
	line-height:21px;
	font-weight: normal;
	color: #fff;
	font-family: 'Lobster';
}
#header .title {
	font-size: 12pt;
	line-height:14pt;
	font-weight: 400;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	transition: all 0.5s;
	border-left: 1px solid #fff;
	padding: 5px 0 5px 10px;
	margin: 0 0 0 10px;
	letter-spacing: 0;
}
.title-box{
	border-top:1px solid #fff;
	padding: 10px 0 0;
	letter-spacing: -7px;
}
#header.small .title-box{
	margin:0;
	padding: 0;
	border:none;
	font-size: 10pt;
	line-height: 12pt;
	text-align: center;
}
#header.small .title,
#header.small .filter{
	font-size: 10pt;
	line-height: 12pt;
}
#header.small .title{
	margin: 0 -16px 0 8px;
	padding: 0 0 0 8px;
}
#header.small .filter img{
	width: 16px;
	margin: 0 0 0 4px;
}
.filter{
	font-size: 12pt;
	line-height:14pt;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0;
	display: inline-block;
	vertical-align: middle;
}
.filter img{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
	width: 20px;
}
.btn-back{
	position:absolute;
	top:50%;
	right:15px;
	width: 10px;
	height: 20px;
	margin: -32px 0 0;
}
#header.small .btn-back{
	top:50px;
}
.btn-back img{
	width: 100%;
	height: auto;
	display: block;
}
#nav{
	position:absolute;
	top:50%;
	left:15px;
	margin:-33px 0 0;
	transition: all 0.5s;
}
#header.small #nav{
	top:50px;
	margin: -36px 0 0;
}
#nav ul{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	font-size: 9pt;
	line-height: 11pt;
	text-align:left;
}
#nav ul li{
	display:inline-block;
	vertical-align:middle;
	padding:0 10px 0 0;
}
#nav ul li a{
	display:block;
	color: #fff;
}
#nav ul li a.active{
	padding:4px 3px 2px;
	border-radius:4px;
	border:1px solid #fff;
}
#nav ul li a.active:hover{border-color:#ff7f00;}
#nav ul li a:hover{color:#ff7f00;}
.img-block h1{
	font-size: 75px;
	line-height:83px;
	font-weight: 100;
	font-style: normal;
	color: #fff;
	margin:0 0 40px;
}
#main{
	position: relative;
	overflow: hidden;
	padding:160px 10px 10px;
}
.accordion .image-box{
	width: 51pt;
	height: 51pt;
	float: right;
	letter-spacing: 0;
	border: 6px solid rgba(255, 252, 252, 0.7);
	position: relative;
	z-index: 11;
	border-radius: 100%;
}

.accordion .image-box:after{
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 15px solid rgba(255, 252, 252, 0.7);
	transform: rotate(45deg);
	position: absolute;
	right: -6px;
	bottom: -8px;
	content: '';
}

.accordion .image-box:before{
	width:15px;
	height:15px;
	background:#5db200;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	position: absolute;
	top:-4px;
	left: 0;
	content: '';
}
.accordion .image-box.gray:before{
	content: "\f057";
	width:15px;
	height:15px;
	background:none;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	position: absolute;
	top:-4px;
	left: 0;
	color: #777c72;
	font-family: FontAwesome;
	font-size: 18px;
	line-height: 18px;
}
.image-box img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
}
.txt{
	overflow: hidden;
	padding: 2.3vh 4vw 0 0;
	font-size: 9pt;
	line-height: 13pt;
	font-width:300;
	color: #000;
	letter-spacing: 0.4px;
}
.txt p{margin: 0;}
.txt h2{
	font-size: 15.75pt;
	line-height: 18pt;
	margin:  0 0 0.6vh;
}
.txt h2 span{
	width:20px;
	height:20px;
	font-size: 8px;
	line-height: 20px;
	background:#000;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	margin: 0 5px 0 0;
}
/* accordion */
.accordion {
	padding:0;
	margin:0;
	list-style:none;
	overflow: hidden;
}
.accordion li {
	margin: 0 0 20px;
	/*background:rgba(255,255,255,0.8);*/
	-webkit-border-radius: 13pt;
	-moz-border-radius: 13pt;
	border-radius: 13pt;
	background: url(../img/bg-img.png);

}

.accordion .opener{
	display: block;
	height: 1%;
	padding: 10pt;
	overflow: hidden;
	text-decoration: none;

	letter-spacing: -7px;
}

/*.accordion li.active .opener,*/
/*.accordion li.active li.active .opener {*/
/*background: rgba(243,146,49,0.7);*/
/*}*/




.alertify .ajs-dialog{

	position: absolute;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: -22% 0 0;

}

.alertify.ajs-maximizable .ajs-commands button.ajs-maximize, .alertify.ajs-maximizable .ajs-commands button.ajs-restore,
.alertify.ajs-resizable:not(.ajs-maximized) .ajs-handle{

	display: none;
}
.alertify.ajs-resizable .ajs-commands, .alertify.ajs-maximized .ajs-commands{

	margin: 14px 5px 0 0;
}

.alertify.ajs-closable .ajs-commands button.ajs-close{

	background-image: url(/m/en/img/ic_close.png);
	background-size: 60%;
}



.blur-class {
	-webkit-filter: opacity(.2);
	filter: opacity(.2);
	pointer-events: none;
}

.loader-css{

	z-index:9999;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
	margin:auto;
	height: auto;
	display: none;
}


.accordion .slide {
	width: 100%;
	overflow: hidden;
}
.block{
	padding:10pt;
	overflow: hidden;
	border-top: 1px solid #fff;
	color: #000;
	font-size: 10pt;
	line-height: 12pt;
	font-weight: 400;
}
.block p{margin: 0;}
.accordion .list{
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	display: table;
	width: 100%;
	border-top: 1px solid #fff;
	font-weight: 300;
	font-size: 9pt;
	line-height: 12pt;
}
.accordion .list li{
	border-radius:0;
	background: none;
	display: table-cell;
	vertical-align: middle;
	border-left: 1px solid #fff;
}
.accordion .list li:last-child{
	border: none;
	width: 40%;
}
.accordion .list li.last{width: 22%;}
.accordion .list li a{
	display: block;
	padding: 10px 7px;
	color: #000;
}
.address-add{
	display: block;
	width: 130px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
.accordion .list li a span{
	display: block;
	position: relative;
	font-weight: normal;
}
.accordion .list li a span:after{
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #000000 transparent transparent transparent;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.accordion .list li a img{
	display: block;
	margin:0 auto;
}


.popup-address{
	overflow: hidden;
	width: 100%;
	background: #fff;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.popup-address .frame{
	overflow: hidden;
	padding: 21px 10px 28px;
	background-image: url("../img/bg-popup.png");
	background-size: 100%;
	text-align: center;
}
.popup-address .frame h3 {
	font-size: 12px;
	line-height:15px;
	font-weight: 700;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.popup-address .frame h4{
	font-size: 12px;
	line-height:15px;
	font-weight: 400;
	margin: 0;
}

.popup-address .fee-txt{
	width: 100%;
	overflow: hidden;
	padding:20px 25px 10px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.2px;
	color: #797979;
}
.popup-address .fee-txt.add{text-align: right;}
.popup-address .fee-txt p{margin: 0 0 10px;}
.fee-txt.add .add-title{
	display: block;
	font-size: 13px;
	line-height: 15px;
	border-bottom: 1px solid #979797;
	padding: 0 0 10px;
	margin: 0 0 10px;
}

.modal {
	text-align: center;
	padding: 0!important;
	z-index: 99999;
}
.modal-content{
	background: none;
	border: none;
	width: 290px;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

}
/*.modal:before {*/
/*content: '';*/
/*display: inline-block;*/
/*height: 100%;*/
/*vertical-align: middle;*/
/*margin-right: -4px;*/
/*}*/

/*.modal-dialog {*/
/*display: inline-block;*/
/*text-align: left;*/
/*vertical-align: middle;*/
/*}*/
/*.close-icon{*/
	/*position: absolute;*/
	/*top: -40px;*/
	/*right: 7px;*/
	/*width: 20px;*/
	/*height: 20px;*/
	/*cursor: pointer;*/
	/*opacity:1;*/
	/*background: none;*/
	/*border: none;*/
	/*background-image: url("../img/ic_close.png");*/
	/*background-repeat: no-repeat;*/
	/*background-size: 100%;*/
/*}*/


.close-icon{
	color: #fff;
	padding: 0;
	position: absolute;
	font-size: 6vh;
	font-weight: 400;
	right: 4px;
	line-height: 20pt;
	top: -40px;
	z-index: 999999;
	background: none;
	border: none;
	float: right;
	opacity: 1;
}
.close-icon span{display: block;}



#slider-popup{
	overflow: hidden;
}
#slider-popup .modal-dialog{
	padding: 0;
	box-shadow: none;

}
#slider-popup .modal-dialog,
#slider-popup .carousel-inner>.item img{
	width:300px;
	background: none;
	margin: 0 auto;
}
.time-table{
	width: 100%;
	min-width: 290px;
	border-collapse: collapse;
	display: table;
	margin: 10px 0;
	font-size: 9pt;
	line-height: 10pt;
	letter-spacing: 0.4px;
	color: #797979;
	text-align: right;
}
.time-table td{
	display: table-cell;
	vertical-align: top;
	padding:5px 4vh;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
	float: left;
	margin: 0;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #37d67a;
}

input:focus + .slider {
	box-shadow: 0 0 1px #37d67a;
}

input:checked + .slider:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


#filter-popup .modal-content{
	padding:0;
	border-radius: 6px;
	overflow: hidden;
	/*overflow-y: scroll;*/
	border: 0;
	position: static;
	height: 100%;
	width: auto;
	min-height:400px;
	max-width: 450px;


	/*width: 90%;*/
	/*top: 50%;*/
	/*height: 90%;*/
	/*max-width: 500px;*/
	/*display: none;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
	background: #fff;
}

#filter-popup .modal-dialog {
	position: relative;
	width: 94%;
	margin: 3%;
	height: 96vh;
}

#filter-popup .modal-content{	border-radius: 6px !important; border: 0; height: 100%;}
#filter-popup .box-frame {
	padding: 0 6vw 6vw;
	height: calc(100% - 140px);
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	overflow-y: auto;
}

#filter-popup .popup-header{
	padding: 3vh 6vw 3.5vh;
	text-align: center;
	margin: 0;
}
#filter-popup .popup-header h2{
	margin: 0 0 1vh;
	text-transform: uppercase;
	color: #000;
	font-size: 23pt;
	line-height: 25pt;
}
#filter-popup .popup-header .title-add {
	font-size: 12pt;
	font-weight: 400;
	line-height: 14pt;
	margin: 0 0 2vh;
	color: #919191;
}
.list-item{
	overflow: hidden;
}
.list-item ul{
	padding:12px 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	color: #919191;
}
.list-item ul li{
	padding: 10px 0;
	overflow: hidden;
	border-top:1px solid #979797;
}
a:focus{color: #fff;}
.list-item ul li:first-child{
	border:none;
}
.new-txt{padding: 3px 0 0;}
.new-txt .span{
	display: inline-block;
	margin: 0;
	font-size: 12pt;
	line-height: 15pt;
	vertical-align: middle;
}
.list-item ul li img{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
.my-btn-holder{
	position: absolute;
	left: 0;
	right:0;
	bottom: 0;
	z-index: 999999;
	overflow: hidden;
}
#filter-popup .btn-submit {
	width: 100%;
	height: 58px;
	padding: 10px;
	border-radius:0 0 6px 6px;
	background-image: linear-gradient(77deg, #34d861, #53e590);
	font-size: 15pt;
	line-height: 18pt;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
}
#filter-popup .btn-submit:hover{background-image: linear-gradient(249deg, #53e590, #34d861);}
#filter-popup .close {
	top: 5px;
	right: 15px;
	z-index: 999999;
	font-size: 5vh;
	line-height: 5vh;
	position: absolute;
	padding: 0;
	cursor: pointer;
	color: #000;
	opacity: 1;
	font-weight: 400;
}