html,  body {
  height: 100%;
  overflow:hidden;
}
html {box-sizing: border-box;}
body {
	margin: 0;
	color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width: 320px;
	height: 100%;
	background-color: #fff;
	font: 15px/18px 'Open Sans', sans-serif, Arial, Helvetica;
	background: url('../img/restaurants-bg.png') center center no-repeat;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

* {max-height: 1000000px;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}
img {
	border-style: none;
	height: auto;
}
a {
	text-decoration: none;
	color: #92278f;
	transition: all 1s;
}
a:hover, a:focus {
	text-decoration: none;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}
input,
textarea,
select {
	color: #000;
	vertical-align: middle;
}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #ccc;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {border-color: black;}
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
input[type="checkbox"],
input[type="radio"] {padding: 0;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
p {margin: 0;}
q {quotes: none;}
q:before,
q:after {
	content: "";
	content: none;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -.5em;}
sub {bottom: -.25em;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
}
.dropdown-menu::-webkit-scrollbar {
    width: 0;
	background:inherit;
}

.dropdown-menu::-webkit-scrollbar-track {
    display: none;
	background:inherit;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    display: none;
	background:inherit;
}
#wrapper{
	overflow:hidden;
	position:relative;
	height: 100%;
}
.img{
	position:absolute;
	left:0;
	right:0;
	bottom:50px;
	pointer-events:none;
}
.img img{
	width:100%;
	height:auto;
	display:block;
}
.img-block{
	overflow:hidden;
	position:relative;
	text-align:center;
	padding:40px;
}
#header{overflow:hidden;}
.frame-box{
	overflow: hidden;
	width: 940px;
	height: 572px;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	position: absolute;
	top:50%;
	left: 0;
	right: 0;
	margin: -286px auto 0;
	background-image:url("../img/home-bg.png");
	background-size:cover;
	-webkit-box-shadow: 0 0 100px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 100px rgba(0,0,0,0.4);
	box-shadow: 0 0 100px rgba(0,0,0,0.4);
}
.first-section{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	height: 50%;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;

}
.section h2,
.first-section h1{
	font-size: 33px;
	line-height:36px;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	margin:0;
}
.section h2{margin:25px 0;}
.section{
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	height: 50%;
	display: flex;
	background: url(../img/bg-new-img.png) no-repeat;
	background-size:  cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}
.section a{
	display: inline-block;
	vertical-align: top;
	width: 231px;
	margin: 0 auto;
}
.section a:hover{opacity: 0.7;}
.section a img{display: block;}
.img-holder{
	position: absolute;
	bottom: -30px;
	right: 28%;
	width: 113px;
	height: 122px;
}
.delivery-img{
	display: block;
}







