
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/en/fonts/helveticaneue/HelveticaNeue.woff') format('woff'), /* Modern Browsers */
       url('/en/fonts/helveticaneue/HelveticaNeue Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
    box-sizing: border-box;
}
.row{
    margin: 0 !important;
}
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: HelveticaNeue !important;
    letter-spacing: 1.5px;
    background-image: url("/en/img/restaurants-bg.png");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FBFBFB;
    margin: 0;
    padding: 0;
    width: 100%;
}

    body.rtl {
        direction: rtl;
    }

header.rtl {
    direction: rtl;
}

header {
    /* background-image: linear-gradient(258deg, #ffaf5f, #ff7f00);*/
    background-image: url("/en/img/header.png");
    background-size: cover;
    background-position: center left;
    padding-bottom: 70px;
    padding-top: 20px;
    position: relative;
}

    header.rtl {
        background-image: url("/en/img/header-bg-rtl.jpg");
        background-position: center right;
    }

    header #back-icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 999;
        cursor: pointer;
    }

        header #back-icon:active img {
            transform: scale(0.95);
        }

        header #back-icon img {
            width: 65px;
            transition: all ease-in-out .1s;
        }

    header #logo {
        width: 50px;
        display: block;
        color: white;
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
    }

        header #logo img {
            width: 100%;
        }

    header p {
        text-align: center;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 26px;
        font-weight: normal;
    }

nav {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 15px;
}

header.rtl nav {
    left: unset;
    right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    nav ul li {
        display: inline-block;
        line-height: 50px;
        padding: 0 15px;
        transition: all ease-in-out .2s;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 13px;
        }

.total-table {
    width: 100%;
    margin-top: 20px;
}

    .total-table tr td {
        padding: 5px;
    }

        .total-table tr td:first-child {
            font-size: 20px;
            font-weight: bold;
        }

        .total-table tr td:last-child {
            text-align: right;
        }

#left_top {
    height: 30vh;
    position: fixed;
    top: calc(10vh + 156px);
    z-index: 1;
}

#left_bottom {
    height: 55vh;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 0;
}

#right_bottom {
    height: 35vh;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 0;
}


#right_top {
    height: 40vh;
    position: fixed;
    top: calc(6vh + 156px);
    right: 0;
    z-index: 0;
}

section {
    position: absolute;
    top: -65px;
    height: calc(100% + 39px);
    width: calc(100% - 250px);
    transform: translateX(-50%);
    overflow: hidden;
    overflow-y: auto;
    left: 50%;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: 0 0 30.5px 0 rgba(0, 0, 0, 0.14);
}

    section::-webkit-scrollbar {
        width: 10px;
    }

    section::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 7px;
        margin-top: 7px;
    }

    section::-webkit-scrollbar-thumb {
        border-radius: 7px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

#container {
    position: relative;
    height: calc(100% - 176px);
}

.circular-logo {
    position: relative;
    width: 90px;
    height: 90px;
    display: inline-block;
}

    .circular-logo .status {
        width: 20px;
        position: absolute;
        left: 5px;
        top: 3px;
        z-index: 99;
        border: 2px solid white;
        border-radius: 50%;
    }

    .circular-logo .arrow {
        width: 0;
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 15px solid #dbdbdb;
        transform: rotate(45deg);
        position: absolute;
        right: 5px;
        bottom: -1px;
    }


    .circular-logo .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        padding: unset !important;
        border: 5px solid #dbdbdb;
    }

    .circular-logo .rest_img {
        width: 100%;
        height: 100%;
    }

.order-now-box {
    color: white;
    width: 90px;
    background-image: linear-gradient(230deg,  #f46c00 , #f79f4a);
    border-radius: 9px;
    display: inline-block;
}

    .order-now-box .header {
        font-size: 15px;
        padding: 8px 10px;
        padding-bottom: 5px;
        text-align: center;
    }

    .order-now-box .footer {
        font-size: 9px;
        padding: 6px;
        letter-spacing: 0.5px;
        text-align: center;
        border-top: solid 0.5px rgba(255, 255, 255, 0.44);
    }

.offline {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

section table.restaurants-table h2 {
    padding: 0;
    margin: 0;
    color: #797979;
}

section table.restaurants-table p {
    padding: 10px 0;
    margin: 0;
    font-size: 15px;
}

     div.more-toggle span{
        color: #9b9b9b;
        background-color: #efefef;
        display: inline-block;
        padding: 2px 5px;
        font-size: 10px;
        margin: 0;
        cursor: pointer;
    }

        div.more-toggle span:last-child {
            position: relative;
            left: -5px;
        }
.toggle-content{
    display: none
}
section table.restaurants-table {
    color: #797979;
    border-collapse: unset !important;
}

        img.gallery {
            vertical-align: top;
            width: 25px;
            cursor: pointer;
        }


    .time-drop-down {
        padding: 0 5px;
        cursor: pointer;
        font-size: 15px;
        white-space: nowrap;
        color: #797979;
    }

     .rest-address {
        font-size: 15px;
        color: #797979;
    }
.detail{
 font-size: 13px; 
 font-weight: 300; 
 font-style: normal; 
 font-stretch: normal; 
 line-height: normal;  
 color: #797979;
 letter-spacing: 1px; 
}
.row-heading{
 font-size: 30px; 
 font-weight: bold; 
 font-style: normal; 
 font-stretch: normal; 
 line-height: normal; 
 color: #333;   
}


.order-row {
    width: 100%;
    padding: 30px;
}

    .order-row table {
        width: 100%;
    }

    .order-row table {
        width: 100%;
        border-bottom: 1px solid #cacaca;
    }

        .order-row table td {
            padding: 10px 25px;
        }

.time-popup {
    width: 250px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f7f7f7;
    box-shadow: 0 5.5px 14px 0 rgba(0, 0, 0, 0.35);
    z-index: 9999;
    display: none;
}


    .time-popup .header {
        line-height: 50px;
    }

        .time-popup .header img {
            width: calc(100% + 2px);
            position: relative;
            top: -1px;
            margin: 0;
            position: absolute;
            z-index: -2;
        }

        .time-popup .header h3 {
            font-size: 15px;
            color: white;
            text-align: center;
            padding: 0;
            line-height: 30px;
            padding-top: 5px;
            margin: 0;
            font-weight: normal;
        }

        .time-popup .header h4 {
            font-size: 13px;
            color: white;
            text-align: center;
            padding: 0 40px;
            margin: 0;
            line-height: 15px;
            font-weight: normal;
        }

    .time-popup table td {
        padding: 6px 0;
    }

.carousel-control {
    background: unset !important;
    opacity: 1 !important;
    position: relative;
}

    .carousel-control img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
    }

#carousel-popup, #detail-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    width: 70%;
    max-width: 900px;
    min-width: 500px;
    display: none;
}

#detail-popup {
    display: none;
    padding: 16px 70px;
    background: white;
    border-radius: 11.5px;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 158px 0 #000000;
    text-align: center;
}

    #detail-popup p {
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.1px;
        text-align: center;
        color: #797979;
    }

    #detail-popup h3 {
        font-size: 27px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        padding: 25px 0;
        font-weight: bold;
        color: #797979;
    }


    #detail-popup .ic_close {
        position: absolute;
        top: -70px;
        left: -20px;
        width: 70px;
        padding: 25px;
        cursor: pointer;
    }

    #detail-popup .social-icons {
    }

        #detail-popup .social-icons ul {
            list-style: none;
            padding: 20px 0 0 0;
            margin: 0;
        }

            #detail-popup .social-icons ul li {
                padding: 5px;
                margin: 0;
                display: inline-block;
            }

                #detail-popup .social-icons ul li img {
                    width: 35px;
                }

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 999;
    display: none;
}
.order-now-row{
    text-align: center
}

/* DivTable.com */
.custom-row {
    display: table;
    width: 100%;
    padding: 40px 0 30px 0 ;
        border-bottom: 1px solid #cacaca;
}

.inner-row {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.col-md-10{}

.custom-cell {
    display: table-cell;
    vertical-align: top;
}
.custom-cell h2{
    padding-top: 0;
    margin-top: 0;
}

    .custom-cell:first-child {
        width: 130px;
        text-align:center;
    }

@media only screen and (min-width: 1200px) {
    section .center-div p {
        font-size: 60px;
    }
}

@media only screen and (max-height: 700px) {

    #detail-popup p {
        font-size: 12px;
    }

    #detail-popup h3 {
        font-size: 24px;
    }

    #detail-popup {
        max-width: 550px;
    }
}
@media only screen and (max-width: 992px){
    .order-now-row{
        text-align: left;
        padding: 15px 0;
    }
}