@font-face {
	font-family: 'Lobster';
	src: url('../fonts/lobster/Lobster.woff') format('woff'),
	url('../fonts/lobster/Lobster.ttf') format('truetype');
}
html,  body {
	height: 100%;
	overflow: auto;

}
html {box-sizing: border-box; overflow: hidden !important;}
body {
	margin: 0;
	color: #fff;
	font: 15px/18px 'Open Sans', sans-serif, Arial, Helvetica;
	min-width: 320px;
	background: #f5f5f3;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
* {max-height: 1000000px;}
a{
	text-decoration: none;
	transition: all 1s;
}
a:hover{text-decoration: none;}
input:focus, select:focus, textarea:focus,
button:hover, button:focus,
a:hover, a:focus {
	text-decoration: none;
	outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px !important;
}
#wrapper{
	overflow: hidden;
	position: relative;
}
#header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 9.7pt 3.5vw 7.1pt;
	background-image: linear-gradient(77deg, #ff7f00, #ffae5e);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
}
.brn-submit{
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 28px;
	color: #fff;
	height: 48px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-border-radius: 0 0 13pt 13pt;
	-moz-border-radius:0 0 13pt 13pt;
	border-radius: 0 0 13pt 13pt ;
	background-image: linear-gradient(77deg, #53e590, #34d861);
}
.brn-submit:hover{
	background-image: linear-gradient(77deg, #34d861, #53e590);
	color: #ff7f00;
}
/* start new css code */
.logo-area{
	float: left;
	letter-spacing: -5px;
}
.logo{
	width: 27pt;
	height: 27pt;
	margin:0 5vw 0 2vw;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.logo a{
	display:block;
	height:100%;
}
.logo a img{
	display:block;
	width:100%;
	margin:0 auto;
}
#header .title {
	font-size: 14pt;
	line-height:16pt;
	font-weight: 400;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.btn-back{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	width: 10px;
	height: 16px;
}
.btn-back img{
	width: 100%;
	height: auto;
	display: block;
}
.top-list{
	float: right;
	padding:1.2vh 0 0;
	margin:0;
	list-style:none;
}
.top-list li{
	display:inline-block;
	vertical-align:middle;
	margin:0 2vw 0 1.5vw;
	width: 18pt;
}
.top-list li:first-child{
	width: 15pt;
}
.top-list li img{
	display: block;
	width:100%;
	height: auto;
}
.top-list li{position: relative;}
.top-list li .price{
	width: 15px;
	height:15px;
	position: absolute;
	right:-7px;
	bottom: -8px;
	background: #fff;
	border-radius: 50%;
	color: #ff7f00;
	font-size: 9px;
	line-height: 15px;
	font-weight: 400;
	text-align: center;
}
/* end start css code */

#main{
	position: relative;
	overflow: hidden;
	padding:51.3pt 3vw 40pt;
}

/* .accordion */

.accordion {
	margin:0;
	padding:0;
	list-style:none;
	overflow: hidden;
	width: 100%;
}
.accordion li {
	margin: 0;
}
.accordion .opener {
	display:block;
	color:#fff;
	height:1%;
	text-decoration:none;
	line-height:30px;
	padding:0;
	margin: 0 0 6.5pt;
	position: relative;
}
.accordion li.active .opener,
.accordion li.active li.active .opener {
	background: #aaf;
}
.accordion .active .slide .opener {
	background:#999;
}
.accordion .opener img{
	display: block;
	width: 100%;
	height: auto;
}
.accordion .text{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	color: #fff;
	padding:3 4pt;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 33%, rgba(0,0,0,0.24) 52%, rgba(0,0,0,0.83) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(33%, rgba(0,0,0,0)), color-stop(52%, rgba(0,0,0,0.24)), color-stop(100%, rgba(0,0,0,0.83)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 33%, rgba(0,0,0,0.24) 52%, rgba(0,0,0,0.83) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 33%, rgba(0,0,0,0.24) 52%, rgba(0,0,0,0.83) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 33%, rgba(0,0,0,0.24) 52%, rgba(0,0,0,0.83) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 33%, rgba(0,0,0,0.24) 52%, rgba(0,0,0,0.83) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.accordion li .text:after{
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff;
	font-size: 27px;
	line-height: 27px;
	position: absolute;
	bottom: 2px;
	right: 7pt;
}
.accordion li.active .text:after{content: "\f107";}
.accordion .text h3{
	margin: 0;
	position: absolute;
	left: 4pt;
	bottom: 4pt;
	font-size: 14pt;
	line-height: 16pt;
	font-weight: 400;
}
.accordion .slide{
	overflow: hidden;
}
.accordion .add-row{
	overflow: hidden;
	background: #fff;
	padding: 3vw 1vh;
	margin: 0 0 1.4vh;
	color: #919191;
	font-size: 11pt;
	line-height: 13pt;
}
.accordion .add-row h4{
	margin: 0 0 5px;
	color: #000;
	font-weight: 500;
	font-size: 11pt;
	line-height: 13pt;
}
.accordion .add-row h4 span{
	padding: 2pt 3pt;
	font-size: 9pt;
	line-height: 9pt;
	display: inline-block;
	vertical-align: middle;
	background:rgb(238, 238, 238);
	-webkit-border-radius:4pt;
	-moz-border-radius:4pt;
	border-radius:4pt;
	color: #000;
	margin: 0 0 0 5px;
}
.accordion .add-row .box:after{
	display: block;
	content: '';
	clear: both;
}
.accordion .add-row .btn-icon{
	float: right;
	width:25px;
	height: 25px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin: -5px 6px 5px 7px;
	text-indent: -9999px;
	background: url(../img/add.png) no-repeat;
	background-size: 100%;
	outline: none;
}
.accordion .add-row .btn-icon.active{
	background: url(../img/add-active.png) no-repeat;
	background-size: 100%;
}
.accordion .add-row p{margin: 0;}
.btn-ordernow{
	position: fixed;
	color: #fff;
	bottom: 0;
	left: 0;
	right:0;
	padding:5pt;
	width: 100%;
	text-align: center;
	z-index: 99;
	font-size: 12pt;
	line-height: 27pt;
	height: 39pt;
	font-weight: 400;
	outline: none;
	background-image: linear-gradient(77deg, #34d861, #53e590);
}
.btn-ordernow:focus,
.btn-ordernow:hover{color: #fff;}
.menu-page .modal-content{
	padding: 30px 5vw;
}
.menu-page h3 {
	font-size: 12pt;
	font-weight: 400;
	line-height: 14pt;
	letter-spacing: 0.3px;
	color: #000;
	margin: 0;
	text-align: center;
}
.menu-page .close {
	position: absolute;
	top: -45px;
	left: -5px;
	padding: 0;
	cursor: pointer;
	font-size: 35px;
	line-height: 35px;
	color: #fff;
	opacity: 1;
	font-weight: 400;
}





.alertify .ajs-dialog{

	position: absolute;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: -22% 0 0;

}

.alertify.ajs-maximizable .ajs-commands button.ajs-maximize, .alertify.ajs-maximizable .ajs-commands button.ajs-restore,
.alertify.ajs-resizable:not(.ajs-maximized) .ajs-handle{

	display: none;
}
.alertify.ajs-resizable .ajs-commands, .alertify.ajs-maximized .ajs-commands{

	margin: 14px 5px 0 0;
}

.alertify.ajs-closable .ajs-commands button.ajs-close{

	background-image: url(/m/en/img/ic_close.png);
	background-size: 60%;
}



.blur-class {
	-webkit-filter: opacity(.2);
	filter: opacity(.2);
	pointer-events: none;
}

.loader-css{

	z-index:9999;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
	margin:auto;
	height: auto;
	display: none;
}


#cart-popup .modal-content{
	padding: 0;
	border: none;
	border-radius: 6px;
}
#food-cart-popup .modal-content{border-radius: 6px;}
.cart-holder{
	overflow: hidden;
	padding: 30px 5vw;
	background: #ff7f00;
	border-radius: 6px 6px 0 0;
}
.cart-holder img{
	width: 85px;
	display: block;
	margin:10px auto 20px;
}
.menu-page .cart-holder h3{color: #fff;}
.list{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.3px;
	text-align: center;
}
.list li{
	float: left;
	width: 50%;
	padding: 15px;
	border-left:1px solid #ff7f00;
}
.list li:first-child{border:none;}
.list li a{
	color: #000;
	display: block;
	text-decoration: none;
}
/* order popup style */
.order .modal-content{
	padding:0;
	border-radius: 6px;
	overflow: hidden;
	/*overflow-y: scroll;*/
	border: 0;
	position: static;
	height: 100%;
	min-height:400px;
	max-width: 450px;


	/*width: 90%;*/
	/*top: 50%;*/
	/*height: 90%;*/
	/*max-width: 500px;*/
	/*display: none;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/

}
#order-popup .order .modal-content{	border-radius: 6px !important; border: 0;}
.box-scroll{
	overflow-y: scroll;
	height:calc(80vh - 136px);
}

.popup-header{
	position: relative;
	background-image: url("../img/new-bg-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 3vh 6vw 6.5vh;
	transition: all 1s;
}
.popup-header:after{
	display: block;
	clear: both;
	content: '';
}
.order.small .popup-header{padding: 60px 44px 0;}
.order.small .txt p{display: none;}
.popup-header .txt{
	overflow: hidden;
	font-size: 10pt;
	line-height: 12pt;
	color: #000;
	text-align: center;
}
.popup-header .txt p{margin: 0;}
.popup-header h2{
	font-size: 13pt;
	font-weight: 400;
	line-height: 15pt;
	margin: 0 0 2.5vh;
	text-transform: capitalize;
}
.popup-header .wrap{overflow: hidden;}
.popup-header .btn-nis{
	float: right;
	padding: 6px 11px;
	background: #ff7f00;
	margin:0;
	position: absolute;
	right:5vh;
	bottom:-13px;
	z-index: 9999;
	border-radius: 3px;
}
.login-popup .close.black,
.order .close.black{
	color: #000;
	font-size: 8vh;
	font-weight: 400;
	left: 12px;
	line-height: 15pt;
	top: 10px;
	z-index: 999999;
}
.order .close.black span{display: block;}
.modal-dialog.order{
	height: 88vh;
	height: calc(100% - 12px);
}
.login-popup .close,
.order .close{
	top:5px;
	left: 15px;
	z-index: 999999;
	font-size: 5vh;
	line-height: 5vh;
}
.order.small .close{top:10px;}
.login-popup .close{
	color: #000;
	font-size: 7vh;
	line-height: 7vh;
}
/* get style from old popup */
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.box-frame.new{

	height: calc(100% - 220px);
	overflow: hidden;
	overflow-y: auto;
	padding: 7vh 5vh 6vh;
	position: relative;
	width: 100%;
}

.box-frame.new.summary .wrap-col{padding: 0;}
.box-frame.new.delivery .wrap-col{

	padding: 0;
	overflow: hidden;
}
#delivery-popup .box-frame.new{

	height: calc(100% - 220px);

}



.box-frame.new.add .wrap-col{padding: 0 4vh !important;}



.box-frame.new .wrap-col{

	overflow: hidden;

}


.alertify.ajs-movable:not(.ajs-maximized) .ajs-header{

	pointer-events: none;

}

.alertify .ajs-dialog{

	position: fixed;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: -50% 0 0;

}


.ajs-dialog{

	font-family: sans-serif;
	color: black;
	font-weight: 700;
	height: 165px;
}

.ajs-modal {

	top: 50% !important;
	margin: -103px 0 0 !important;
	z-index: 9999999;
}



.ajs-button{

	border: 1px solid red;
}


.ajs-content{

	overflow: hidden !important;
}


.ajs-maximize{

	display: none !important;
}S

 .alertify.ajs-maximizable .ajs-commands button.ajs-maximize, .alertify.ajs-maximizable .ajs-commands button.ajs-restore,
 .alertify.ajs-resizable:not(.ajs-maximized) .ajs-handle{

	 display: none;
 }
.alertify.ajs-resizable .ajs-commands, .alertify.ajs-maximized .ajs-commands{

	margin: 14px 5px 0 0;
}

.alertify.ajs-closable .ajs-commands button.ajs-close{

	background-image: url(/m/en/img/ic_close.png);
	background-size: 60%;
}


#order-popup .box-frame.new{
	padding: 0 0 6vh;
	height: calc(100% - 60px);
}

#food-cart-popup .box-frame{height: calc(100% - 180px);}

.order ul{
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.order ul li{
	padding: 0 0 10px;
}
input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: 0px;
	visibility:hidden;
}

input[type="radio"] + label, input[type="checkbox"] + label {
	background: url('../img/uncheck01.png') 0px 0px no-repeat;
	width: 100%;
	display: block;
	padding: 6px 0 6px 50px !important;
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	color: #919191;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	background: url('../img/check02.png') 0 0px no-repeat;
}
.margin .col-xs-7,
.margin .col-xs-5{padding: 0 2pt;}

.order .add-row{
	padding: 19px 0;
	font-size: 10pt;
	line-height: 12pt;
	color: #919191;
	border-top: solid 1px #979797;
}
.order .add-row:after{
	display: block;
	content: "";
	clear: both;
}
.order .add-row.first{
	border: none;
	padding: 0 0 6vh;
}
.order .add-row p{margin:  0 0 25px;}
.order h3 {
	font-size: 12pt;
	font-weight: 400;
	line-height: 13pt;
	color: #000;
	margin: 19px 0 4vh;
	text-align: left;
}
.text-holder{
	overflow: hidden;
	position: relative;
	padding: 0;
	border-bottom: 1px solid #979797;
}
.text-holder:before{
	width: 1px;
	height: 10px;
	background: #979797;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
}
.text-holder:after{
	width: 1px;
	height: 10px;
	background: #979797;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
}
.text-holder textarea{
	display: block;
	width:100%;
	border: none;
	height: 40px;
	resize: vertical;
	min-height: 40px;
	position: relative;
	color: #797979;
	font-size:10pt;
	line-height: 13pt;
	padding: 10px 10px 0 0;
	background: #fff;
}
.edit{
	margin: 10px 8px 0;
}
.resize{
	position: absolute;
	right:0;
	bottom: -1px;
}
.order .btn-submit {
	width: 100%;
	height: 58px;
	padding: 10px;
	border-radius:0 0 6px 6px;
	background-image: linear-gradient(77deg, #34d861, #53e590);
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	line-height: 18pt;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	position: relative;
	z-index: 999999;
}
#order-popup .my-btn-holder,
#food-cart-popup .my-btn-holder,
#food-cart-popup .order .btn-submit,
#order-popup .order .btn-submit {border-radius:0 0 6px 6px;}
.order .btn-submit:hover{background-image: linear-gradient(249deg, #53e590, #34d861);}
.order .add-row.error .red{
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
	color: #ff3838;
	display: block;
	padding: 10px 0;
}
.order .add-row .red{color: #f00;}
.error .custom-drop-down{border-color:#ff3838;}
/*  popup info style  */
#popup-info .modal-content{
	max-height: 100vh;
	overflow-y: scroll;
	border-radius: 0;
}
#popup-info .modal-content:after{
	display: block;
	clear: both;
	content: '';
}
.info .first-col{
	padding:7vh 8vw 9vh;
	position: relative;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background-image: linear-gradient(197deg, #ffae5e, #ff7f00);
}
.info .first-col .btn-phone{
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	bottom: -8.5vw;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	display: block;
	height: 40pt;
	line-height: 40pt;
	position: absolute;
	right: 9.5vw;
	text-align: center;
	width: 40pt;
}
.info .first-col .btn-phone img{
	width: 12pt;
	height: 12pt;
}
.info .img-frame {
	width: 82px;
	height: 82px;
	padding: 0;
	margin: 0 auto 3.2vh;
	background: none;
	border: 4pt solid #ffbe80;
	background-size: cover;
	position: relative;
	border-radius: 50%;
	z-index: 1;
}
.info .img-frame:after{
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 20px solid #ffbe80;
	transform: rotate(45deg);
	position: absolute;
	right: -9px;
	bottom: -9px;
	content: "";
	z-index: -1;
}
.info .img-frame img{
	width: 101%;
	display: block;
	height: auto;
	margin: 0;
}
.info{
	font-size: 10pt;
	line-height: 11.7pt;
	font-weight: 300;
	color: #fff;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin: 0;
}
.info h2{
	font-size: 16pt;
	line-height: 19pt;
	font-weight: 300;
	margin:0 0 2.2vw;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.info p{margin: 0 0 2vh;}
.info .wrap{
	overflow: hidden;
	padding:0;
}
.info .cart{
	display: inline-block;
	font-size: 8pt;
	line-height: 10pt;
	margin: 0 0 6.7vh;
	padding: 0 0 0 7vw;
	position: relative;
	vertical-align: top;
}
.info .cart:before{
	width: 10pt;
	height: 10pt;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/cart.png) no-repeat;
	background-size: 100%;
}
.info .close{
	position: fixed;
	top: 2px;
	left: 10px;
	color: #000;
	z-index: 99;
	font-size: 35px;
	line-height:35px;
	text-shadow:none;
	opacity: 1;
	font-weight: 400;
}
.mobile-sec{
	position: absolute;
	left: 0;
	right:0;
	bottom:3.3vh;
	width: 100%;
	display: block;
}
.info .second-col{
	padding: 6.1vh 10vw 6vh;
	position: relative;
}
.mypopup.info .add-row{
	color: #919191;
	padding:7.3vh 0vh 5vh;
	border-top: solid 1px #979797;
}
.mypopup.info .add-row:first-child{
	border:none;
	padding:0 0 3.5vh;

}
.info .title {
	color: #000000;
	display: block;
	font-size: 9pt;
	font-weight: 300;
	line-height: 15pt;
	margin: 0 0 3.5vh;
	padding: 0 0 0 25pt;
	position: relative;
}
.info .title:before{
	width: 16pt;
	height: 16pt;
	content: '';
	position: absolute;
	top: 0;
	left: 4pt;
	background: url(../img/ic_timer.png) no-repeat;
	background-size: 100%;
}
.info .title0:before{background: url(../img/ic_phone.png) no-repeat;  background-size: 100%;  width: 18px;}

.info .title2:before{background: url(../img/ic_home.png) no-repeat;}
.info .title3:before{
	width: 24px;
	height: 18px;
	background: url(../img/gallery-img.png) no-repeat;
}
.info .table{
	border-collapse: collapse;
	color: #919191;
	font-size: 9pt;
	font-weight: 300;
	line-height: 11pt;
	width: 100%;
	margin: 0;
}
.info .table td{
	padding: 3pt 3pt 3.4pt;
	border:none;
	text-align: right;
}
.info .table td:first-child{text-align: left;}

.info .carousel-inner,
.info .carousel-inner>.item{
	width: 98%;
	margin: 0 auto;
}
.info .carousel-inner>.item img{
	width:100%;
	height: auto;
	display: block;
}
.info .carousel-control{
	width: 16.1px;
	height: 25.2px;
	top:50%;
	background: none;
	box-shadow: none;
	margin: -12px 0 0;
	opacity:1;
	color: #000;
	font-size: 40px;
	line-height: 40px;
}
.info .carousel-control.left {left: 0;}
.info .carousel-control.right {right:0;}


.show-box{

	display: none;
}


/* start food cart popup -68px 100%*/
/*#food-cart-popup  .modal-content{padding: 0 0 78px;}*/
#food-cart-popup .box-frame.new{padding: 5vh 5vh 6vh !important;}
.popup-header.red{
	text-align: center;
	background:url(../img/grey.png) no-repeat -64px 78% ;
	color: #000;
	padding: 2vh 10vw 13.5vh;
	position: relative;
	z-index: 9999;
	border-radius: 0;
	min-height: 160px;
}
.popup-header.red:after{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:50px;
	content: "";
	background:#f2f2f2;
	z-index: -1;
	width: 100%;
	height: 72%;
	border-radius: 13px 13px 0 0;
}
.popup-header.new-red{
	padding: 3vh 6vw 3.5vh;
	text-align: center;
	background-image: linear-gradient(to left, #fea554, #f46c00);
}
.popup-header.new-red h2{
	margin: 0 0 1vh;
	text-transform: uppercase;
}
.popup-header.red .title-add{
	color: #bbb;}
.popup-header .title-add {
	font-size: 23pt;
	font-weight: 400;
	line-height: 25pt;
	margin: 0 0 2vh;
}

/*#food-cart-popup .add-row{*/
	/*color: #919191;*/
	/*padding: 15px 0;*/
	/*font-size: 20px;*/
	/*line-height: 23px;*/
/*}*/
#food-cart-popup .header-row{
	color: #000;
	font-weight:600;
	padding: 0 0 3.3vh;
}
#food-cart-popup .header-row h2{
	margin: 0;
	font-weight:600;
	font-size: 10pt;
	line-height: 12pt;
}
#food-cart-popup .dim{
	display: block;
	text-align: center;
	padding: 0;
	font-weight: 400;
	font-size: 10pt;
	line-height: 13pt;
}
#food-cart-popup .add-row p{margin: 0;}
.switch-btn {
	color: white;
	position: relative;
	width: 62px;
	float: right;
	font-size: 13px;
	line-height: 1px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	border-radius: 20px;
	background-image: linear-gradient(to left, #fea554, #f46c00);
}
.rtl .switch-btn {
	float:left;
}

.switch-btn img {
	padding: 0;
	width: 22px;
	transform: scale(0.95);
	transition: all ease-in-out .2s;
	float: left;
	position: relative;
	bottom: -1px;
	cursor: pointer;
}
.switch-btn img:hover{opacity: 0.7;}
.switch-btn img:active {
	transform: scale(0.6);
}


.switch-btn .count {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	line-height: 9px;
	transform: translate(-50%,-50%);
}

.switch-btn img:last-child {
	margin: 2px 0 1px 10px;
	line-height: 20px;
	float: right;
	padding: 0;
	bottom: 0px;
}
/* end food cart popup */
/* start customer-info-popup */
.box-frame.new.payment{padding: 5vh 0 6vh;}
.box-frame.new.payment .txt-frame{padding:0 5vh; }
.box-frame.new .wrap-col{
	/*padding: 10px 0 10px;*/
}
.head-popup{
	overflow: hidden;
	text-align: center;
	padding:20px 0 0;
	background:url(../img/bh-header.png) no-repeat;
	background-size: cover;
}
.order .head-popup h3 {
	font-size: 27px;
	font-weight: 600;
	line-height: 30px;
	color: #000;
	margin: 0 0 20px;
	text-align: center;
}
.error-field .text-holder{margin: 0 ;}
.error-field {
	overflow: hidden;
	margin: 0 0 9px;
}
/*.wrap-col{*/
/*overflow: hidden;*/
/*!*padding: 85px 4vh 0;*!*/
/*}*/
.new .edit {
	width: 18px;
	margin: 13px 8px 2px
}
.new .edit.my{
	width: 16px;
	margin: 15px 8px 2px
}
.new .edit.email {
	width: 18px;
	margin:21px 8px 2px;
}
.box-frame.new select,
.box-frame.new input[type="tel"],
.box-frame.new input[type="text"],
.box-frame.new input[type="email"]{
	display: block;
	width: 100%;
	border: none;
	height: 40px;
	resize: vertical;
	min-height: 40px;
	position: relative;
	color: #797979;
	font-size: 10pt;
	line-height: 13pt;
	padding: 12px 10px 0 0;
	background: none;
	outline: none;
}
.box-frame.new .add-box{
	padding: 12px 10px 0 10px !important;
}
.img-button{
	display: block;
	padding: 10px 5px 0;
	width: 35px;
	margin: 0 auto;
}
/*.box-frame.new .add-box{*/
	/*background: url(../img/arrow01.png) no-repeat 97% 85% !important;*/
/*}*/
.box-frame.new .custom-select select {
	border:none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 12px 26px 0 10px;
}
.box-frame.new .custom-select{position: relative;}
.box-frame.new .custom-select:after{
	content: "\f107";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #797979;
	font-size: 12pt;
	line-height: 12pt;
	position: absolute;
	top: 50%;
	right:10px;
	margin: 0 0 0 10px;
}
/* end customer-info-popup */
/* end customer-info-popup */
.title-txt{
	overflow: hidden;
	font-size: 10pt;
	line-height: 13pt;
	font-weight: 600;
	color: #000;
	position: relative;
	padding: 2px 0 4px 37px !important;
	border-bottom: 1px solid #000;
}
.title-txt:after{
	content: "";
	height: 18pt;
	left: 0;
	margin: -14pt 0 0;
	position: absolute;
	top: 50%;
	width: 18pt;
	background: url('../img/group.png') no-repeat;
	background-size: 100%;
}
.order .checkbox-list{
	padding:6vh 0 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.order .box-frame.new.add .checkbox-list{margin:-1vh 0 0; padding: 0;}
.order .checkbox-list li{
	padding: 0 0 1.4vh;
	background: none;
	box-shadow: none;
}
.order .checkbox-list li:last-child{padding: 0;}
.checkbox-list li label span{
	display:block;
	color: #000;
}
input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: 0px;
	visibility:hidden;
}
input[type="radio"] + label, input[type="checkbox"] + label {
	background: url('../img/uncheck01.png') 0px 50% no-repeat;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	padding: 5px 0 5px 33px !important;
	font-size: 10pt;
	font-weight: 400;
	line-height: 13pt;
	color: #919191;
	background-size: 24px;
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	background: url('../img/check02.png') 0 50% no-repeat;
	background-size: 24px;
}
/* end customer-info-popup */
/* start delivery-popup */
#delivery-popup .head-popup{padding: 24px 0 4px;}
#delivery-popup .new .text-holder { margin: 0 0 2vh;}
/*#delivery-popup .order .modal-content{padding:0 0 78px;}*/
#delivery-popup .new .edit {margin:16px 8px 0;  }
#delivery-popup .new .edit.edit1{
	width: 16px;
}
.my-btn-holder{
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	overflow: hidden;
	background: #fff;
	padding: 5px 0 0;
	border-radius:0 0 6px 6px;
}
.my-btn-holder .btn-summary {
	width: 75%;
	height: 58px;
	padding: 10px;
	border-radius:0 0 6px 0;
	background-image: linear-gradient(77deg, #34d861, #53e590);
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	line-height: 18pt;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	float: right;
	z-index: 999999;
}
.my-btn-holder .btn-back{
	width: 24%;
	background-image: linear-gradient(77deg, #53e590, #34d861);
	height: 58px;
	padding: 10px;
	border-radius:0 0 0 6px ;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	line-height: 18pt;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	float: left;
	z-index: 999999;
}
.my-btn-holder .btn-back img{
	display: block;
	width: auto;
	margin: 0 auto;
}
.my-btn-holder .btn-back:hover{background-image: linear-gradient(77deg, #34d861, #53e590);}
.my-btn-holder .btn-summary:hover{background-image: linear-gradient(249deg, #53e590, #34d861);}
/* end delivery-popup */
/*#payment-popup .order .modal-content {padding: 0 0 77px;  }*/
.order .card-columns{
	padding: 2vh 0 4vh;
	margin: 0 -2vh;
	list-style: none;
	letter-spacing: -5px;
	text-align: center;
}
.order .card-columns li{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	padding: 0 2.5vh;
	width: 43%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.order .card-columns li.active .card-box{
	background: #f5f5f5;
}
.order .card-columns:after{
	display: block;
	content: "";
	clear: both;
}
.card-box{
	width: 34vw;
	height: 34vw;
	margin: 0 auto;
	padding: 0;
	display: table;
	text-align: center;
	background: #fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.29);
}
.card-box .card-col{
	display: table-cell;
	vertical-align: middle;
}
.card-col img{
	display: block;
	width: 75px;
	margin: 0 auto;
}
.image .card-col img{
	width: 24px;
}
.card-box span{
	display:block;
	color: #919191;
	font-size: 11pt;
	line-height: 13pt;
	font-weight: 400;
	margin: 0 0 5px;
}
#payment-popup .head-popup{
	padding: 28px 0 10px;
}
.txt-frame{
	overflow: hidden;
	padding: 0;
}
.txt-frame .text-holder { margin: 0;}
.txt-frame .error-field{
	margin: 0 0 3vh;
	overflow: hidden;
}
.text-holder.col{
	margin-right: 10px;
}
.txt-frame .text-holder input[type="number"]::-webkit-outer-spin-button,
.txt-frame .text-holder input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.txt-frame .text-holder input[type="number"] {
	-moz-appearance: textfield;
}
button::-moz-focus-inner, input::-moz-focus-inner{display: none;}
.error .text-holder{border-color: #ff0a0a;}
.error .text-holder:before{background: #ff0a0a;}
.error .text-holder:after{background: #ff0a0a;}
.error-span {
	font-size: 10pt;
	line-height: 13pt;
	display: none;
	margin-left: 10px;
	color: #f00;
	margin-top: 5px;
}
.error-box.error .error-span,
.error .error-span{display: block;}
.error-box.error .error-span{
	font-size: 9pt;
	line-height: 12pt;
	margin-left: 5px;
	margin-top: 0;
}
.error-box{
	content: '';
	display: block;
	clear: both;
}

/*.text-holder{*/
/*overflow: hidden;*/
/*position: relative;*/
/*padding: 0;*/
/*border-bottom: 1px solid #979797;*/
/*}*/
/*.text-holder:before{*/
/*width: 1px;*/
/*height: 10px;*/
/*background: #979797;*/
/*content: "";*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: 0;*/
/*}*/
/*.text-holder:after{*/
/*width: 1px;*/
/*height: 10px;*/
/*background: #979797;*/
/*content: "";*/
/*position: absolute;*/
/*right: 0;*/
/*bottom: 0;*/
/*}*/
.txt-frame .left-field,
.txt-frame .right-field,
.txt-frame .text-holder textarea,
.txt-frame .text-holder select,
.txt-frame .text-holder input[type="tel"],
.txt-frame .text-holder input[type="number"],
.txt-frame .text-holder input[type="text"],
.txt-frame .text-holder input[type="email"]{
	display: block;
	width:100%;
	border: none;
	height: 35px;
	color: #797979;
	font-size:10pt;
	line-height: 12pt;
	padding: 10px 10px 0;
	background: none;
	outline: none;
}
.txt-frame .devider {
	display: inline-block;
	vertical-align: bottom;
	margin: 14px 0 0;
	color: #979797;
}
/*.left-field,*/
/*.right-field{*/
/*padding:10px !important;*/
/*}*/
/*.text-holder .add-box,*/
/*.text-holder select{padding: 10px !important;}*/
.txt-frame .edit{margin: 6px 8px 0;}
.order .header-links{
	bottom: -1.6vh;
	box-sizing: border-box;
	color: #000;
	left: 0;
	list-style: outside none none;
	margin: 0;
	overflow: inherit;
	padding: 0 0 0 5vw;
	position: absolute;
	right: -5vh;
	white-space: nowrap;
	width: 141%;
	z-index: 99999;
}
/*.order .header-links.add{padding: 0 0 0 55px;}*/
.order .header-links:after{
	width:100%;
	height: 65%;
	position: absolute;
	top:50%;
	left: 0;
	right:0;
	bottom:0;
	content: '';
	background: #fff;
	z-index: -1;
}
.order .header-links.add:before{
	position: absolute;
	top:0;
	left: -10vw;
	content: '';
	background: #fff;
	z-index: 10;
	width:31pt;
	height:31pt;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.16);
}
.order .header-links li{
	float: left;
	padding: 0 9vw 0 8vw;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.order .header-links li.active{padding:16pt 4vw 0;}
.order .header-links.add li.active {
	padding: 16pt 7vw 0;
}
.order .header-links h4{
	font-size: 10pt;
	font-weight: 400;
	line-height: 12pt;
	margin: 2px 0 -2px;
}
.order .header-links li .img-box{
	width:31pt;
	height:31pt;
	margin: 0 auto;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-align: center;
	line-height: 31pt;
	box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.16);
	display: block;
	background: #fff;
}
.order .header-links li.active .img-box{
	background: #f46c00;
}
.order .header-links li .edit{
	width: 13pt;
	margin: 0;
}
.my-btn-holder .btn-back i,
.my-btn-holder .btn-summary i,
.btn-submit i {
	font-size: 35px;
	line-height: 35px;
	margin: 0 0 0 10px;
	display: inline-block;
	vertical-align: middle;
}
/* summary popup */
.minimum-item{
	margin: 2.5vh 0 0;
	padding: 3.3vh 0 0;
	overflow: hidden;
	text-align: center;
	color: #919191;
	border-top: solid 1px #c1c1c1;
	font-size: 10pt;
	line-height: 11pt;
	font-weight: 400;
}
.minimum-item.add{border:none; margin: 0;}
.minimum-item.add1 h3,
.minimum-item.add1{
	font-size: 10pt;
	line-height: 13pt;
	font-weight:600;
}
.minimum-item p{margin: 0 0 10px;}
.minimum-item h3{
	margin:0;
	font-weight: 400;
	color: #000;
	font-size: 9pt;
	line-height: 10pt;
}
.minimum-item .nis{float: right;}
.new-label {
	font-size: 10pt;
	line-height: 12pt;
	font-weight: 400;
	color: #797979;
	display: block;
	margin: 0 0 5px;
	position: relative;
}
.new-label:after{
	content: "\f107";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #797979;
	font-size: 12pt;
	line-height: 12pt;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
}
.error-coupon {
	font-size: 9pt;
	font-weight: 300;
	line-height: 11pt;
	color: #ff0a0a;
	display: block;
	margin: 4px 0 20px;
}
.add-txt{
	overflow: hidden;
	padding: 4vh 1.5vw 0;
}
#coupon_parent {
	padding: 2vh 0 0;
}
.new .edit.add{
	width: 18px;
	margin: 10px auto 0;
	display: block;
}
.show-text{
	display: none;
}
.show-text:after{
	display: block;
	content: '';
	clear: both;
}
.show-text.show{display: block;}
.new .edit.add2{
	width: 18px;
	margin: 13px 8px 0;
}
.txt-frame .edit.add3{margin: 15px 8px 0; width: 24px;}

.red-border-c{

	border: solid 1px red !important;
}

/*.box-frame.new input[type="text"]:after{*/
/*content: "\f061";*/
/*font-family: FontAwesome;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*text-decoration: inherit;*/
/*color: #797979;*/
/*font-size: 20px;*/
/*line-height: 20px;*/
/*display: inline-block;*/
/*vertical-align: middle;*/
/*margin: 0 0 0 10px;*/
/*}*/


@media only screen
and (max-device-width : 320px) and (orientation : portrait){
	.accordion .add-row h4,
	.accordion .add-row{
		font-size: 10pt;
		line-height: 12pt;
	}
	.accordion .add-row h4 span{
		font-size: 7.5pt;
		line-height: 9.5pt;
	}
	#header .title,
	.accordion .text h3{
		font-size: 13pt;
		line-height: 15pt;
	}
	.top-list li{margin:0 0 0 1.5vw;}
	.logo{margin:0 3vw 0 2vw;}

	/*#header{min-height:87px;}*/
	/*.logo{*/
	/*width: 50px;*/
	/*height: 50px;*/
	/*margin:0 20px 0 10px;*/
	/*}*/
	/*.top-list{padding: 10px 0 0;}*/
	/*.top-list li{width: 35px;}*/
	/*.top-list li:first-child {width: 32px;}*/
	/*#main{padding: 100px 10px 55px;}*/
	/*.btn-ordernow{*/
	/*height: 50px;*/
	/*line-height: 30px;*/
	/*}*/
	/*.btn-ordernow{margin: 0;}*/
	/*.cart-holder {padding: 20px;}*/
	/*.cart-holder img{*/
	/*width: 100px;*/
	/*height: auto;*/
	/*margin: 0 auto 10px;*/
	/*}*/
	/*!*.cart-holder img{padding: 20px;}*!*/
	/*.menu-page h3{*/
	/*font-size: 21px;*/
	/*line-height: 24px;*/
	/*}*/
	/*.my-btn-holder .btn-back,*/
	/*.my-btn-holder .btn-summary,*/
	/*.order .btn-submit{*/
	/*height: 55px;*/
	/*}*/
	/*.my-btn-holder .btn-back img,*/
	/*.my-btn-holder .btn-summary img{width: 16px;}*/
	/*.box-frame{max-height: 50vh;}*/
	/*.info .img-frame{*/
	/*width: 118px;*/
	/*height: 118px;*/
	/*}*/
	/*.info .cart{margin: 0 0 20px;}*/
	/*.info .first-col{padding: 26pt 15pt;}*/
	/*.info .second-col{padding: 50px 20px 0;}*/
	/*.popup-header.red{*/
	/*padding: 3vh 6vh 13vh;*/
	/*background-position: -58px 100%;*/
	/*}*/
	/*#customer-info-popup .popup-header.red{*/
	/*background-position: -48px 100%;*/
	/*}*/
	/*.order .modal-content{padding: 0 0 50px;}*/
	/*.popup-header .title-add,*/
	/*.popup-header h2{*/
	/*font-size: 12pt;*/
	/*line-height: 15pt;*/
	/*}*/
	/*.order .header-links{padding: 0 0 0 6vw;}*/
	/*.info .table{*/
	/*font-size: 16px;*/
	/*line-height: 19px;*/
	/*}*/
	/*.info .close{*/
	/*font-size: 35px;*/
	/*line-height: 35px;*/
	/*font-weight: 600;*/
	/*}*/
	/*.title-txt{*/
	/*font-size: 16px;*/
	/*line-height: 20px;*/
	/*padding: 4px 0 4px 40px !important;*/
	/*}*/
	/*.title-txt:after{*/
	/*width: 26px;*/
	/*height: 26px;*/
	/*}*/
	/*input[type="radio"]:checked + label, input[type="checkbox"]:checked + label,*/
	/*input[type="radio"] + label, input[type="checkbox"] + label{*/
	/*font-size: 16px;*/
	/*line-height: 20px;*/
	/*background-size: 12%;*/
	/*padding: 4px 0 4px 40px !important;*/
	/*}*/
	/*.minimum-item{*/
	/*font-size: 16px;*/
	/*line-height: 19px;*/
	/*padding: 14px 0 0;*/
	/*}*/
	/*.card-box span,*/
	/*.new-label,*/
	/*.minimum-item h3{*/
	/*font-size: 16px;*/
	/*line-height: 19px;*/
	/*}*/
	/*.minimum-item.add1 h3, .minimum-item.add1{*/
	/*font-size: 18px;*/
	/*line-height: 21px;*/
	/*}*/
	/*.error-coupon{*/
	/*font-size: 13px;*/
	/*line-height: 15px;*/
	/*}*/
	/*.box-frame.new select, .box-frame.new input[type="tel"], .box-frame.new input[type="text"], .box-frame.new input[type="email"],*/
	/*.text-holder textarea{*/
	/*font-size: 14px;*/
	/*line-height: 17px;*/
	/*}*/
	/*.box-frame.new.delivery .wrap-col {*/
	/*padding: 55px 0 0;*/
	/*}*/

	/*.order .header-links{*/
	/*bottom: -6.6vh;*/
	/*box-sizing: border-box;*/
	/*color: #000;*/
	/*left: 0;*/
	/*list-style: outside none none;*/
	/*margin: 0;*/
	/*overflow: inherit;*/
	/*padding: 0 0 0 5vw;*/
	/*position: absolute;*/
	/*right: -5vh;*/
	/*white-space: nowrap;*/
	/*width: 141%;*/
	/*z-index: 99999;*/
	/*}*/
	/*!*.order .header-links.add{padding: 0 0 0 55px;}*!*/
	/*.order .header-links:after{*/
	/*width:100%;*/
	/*height: 65%;*/
	/*position: absolute;*/
	/*top:50%;*/
	/*left: 0;*/
	/*right:0;*/
	/*bottom:0;*/
	/*content: '';*/
	/*background: #fff;*/
	/*z-index: -1;*/
	/*}*/
	.popup-header.red{padding: 2vh 10vw 15.5vh;}
	/*.box-frame{max-height: 50vh;}*/
	.order .header-links li{
		float: left;
		padding: 0 6vw 0 4vw;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.order .header-links li.active{padding:16pt 4vw 0;}
	.order .header-links.add li.active {
		padding: 16pt 7vw 0;
	}
}

/* iPhone 6 in portrait & landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	.order .header-links li{padding: 0 9vw 0 7vw;}
}

/* Galaxy S5 portrait and landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
	.order .header-links li{padding: 0 7vw 0 6vw;}
}

/* iPhone 6 in portrait */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
	.order .header-links li{padding: 0 8vw 0 6vw;}
}

/* iPhone 6 Plus in portrait & landscape */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
	.order .header-links li{padding: 0 9vw 0 7vw;}
}
/* Nexus 6p + Nexus 5x in portrait & landscape */
@media only screen
and (min-device-width: 412px)
and (max-device-width: 412px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	.order .header-links li{padding: 0 9vw 0 7vw;}
}
.top-list .add-user{
	width: 15pt !important;
}

/* login style */
.welcom-popup,
.login-form{
	padding: 5vh 5vh 3vh;
	text-align: center;
	color: #797979;
	height: 96vh;
	position: relative;
}
.login-popup h2{
	font-size: 33px;
	color: #000;
	margin: 0 0 10px;
}
.login-popup p{
	margin: 0 0 15px;
	font-size: 16px;
	line-height: 19px;
}
.login-popup p a{
	color: #506ce5;
	display: inline-block;
	vertical-align: middle;
}
.line{
	display:block;
	color:#9ea5ad;
	font-size:20px;
	line-height:38px;
	text-transform:uppercase;
	padding:0 0 6px;
	position:relative;
}
.line:before,
.line:after {
	width:42%;
	height:1px;
	content:"";
	position:absolute;
	top:50%;
	left:0;
	background:#ccc;
	margin:-4px 0 0;
}
.line:after {
	left:auto;
	right:0;
}
.btn-holder{
	overflow: hidden;
}
.btn-google,
.btn-facebook{
	width:100%;
	height:45px;
	float: none;
	display:block;
	margin:0 auto 9px;
	background:#3b5998;
	padding:10px 12px;
	text-align:center;
	font-size:18px;
	line-height:22px;
	font-weight:400;
	color:#fff;
	border:1px solid #3b5998;
	border-radius:8px !important;
	transition: all 1s;
}
.btn-google:hover,
.btn-facebook:hover{
	color:#3b5998;
	background:#f5f5f5;
	text-decoration:none;
}
.btn-google{
	background:#dc4e41;
	border-color: #dc4e41;
	margin-left:0;
}
.btn-google:hover{
	color: #dc4e41;
}
.login-popup .login-email{margin: 0 0 21px;}
.login-popup .login-guest,
.login-popup .login-email{
	color: #506ce5;
	display: block;
	text-decoration: underline;
}
.login-popup .login-guest:hover,
.login-popup .login-email:hover{color:#ff7f00;}
.login-popup .login-guest{
	position: absolute;
	left: 0;
	right:0;
	bottom: 4vh;
}

.form-control{
	height: 35px;
	margin: 0 auto 9px;
}
.form-control.add{margin: 0 auto 12px;}
.form-control.add1{margin: 0 auto 14px;}
.btn-login{
	width:190px;
	height:45px;
	float: none;
	display:block;
	margin:0 auto 9px;
	background-image: linear-gradient(to right, #ff7f00, #fead5d);
	padding:10px 12px;
	text-align:center;
	font-size:16px;
	line-height:22px;
	font-weight:400;
	color:#fff;
	border-radius:8px !important;
	transition: all 1s;
}
.btn-login:hover{
	color: #fff;
	background-image: linear-gradient(to right, #fead5d, #ff7f00);
}
.welcom-popup{
	overflow: hidden;
}
.welcom-popup h3{
	font-size: 24px;
	line-height: 27px;
	color: #000;
	margin: 0 0 28px;
	text-align: center;
}
.signin{display: none;}
.login-section .btn-login{margin:0 auto 33px;}
.re-enter .btn-login{margin:0 auto 19px;}

.user-img{
	width:100pt;
	height:100pt;
	margin: 40px auto;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-align: center;
	line-height: 100pt;
	display: block;
	background: #f2f2f2;
}
.user-img img{
	width: 50px;
}