@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff'), 
    url('../fonts/helveticaneue/HelveticaNeue Thin.ttf') format('truetype'),
	url('../fonts/helveticaneue/HelveticaNeue Thin.eot') format('eot');
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster.woff') format('woff'), 
    url('../fonts/lobster/Lobster.ttf') format('truetype'); 
}
html,  body {
  height: 100%;
}
html {box-sizing: border-box;}
body {
	margin: 0;
	color: #fff;
	font: 15px/18px 'HelveticaNeue', Arial, sans-serif, Helvetica;
	min-width: 320px;
	background: #f5f5f3;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
* {max-height: 1000000px;}
a{
	text-decoration: none;
	transition: all 1s;
}
a:hover{text-decoration: none;}
#wrapper{
	overflow: hidden;
	position: relative;
}
#header{
	min-height:105px;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 15pt 15pt 10pt;
	background-image: linear-gradient(77deg, #ff7f00, #ffae5e);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
}
.brn-submit{
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 28px;
	color: #fff;
	height: 48px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-border-radius: 0 0 13pt 13pt;
	-moz-border-radius:0 0 13pt 13pt;
	border-radius: 0 0 13pt 13pt ;
	background-image: linear-gradient(77deg, #53e590, #34d861);
}
.brn-submit:hover{
	background-image: linear-gradient(77deg, #34d861, #53e590);
	color: #ff7f00;
}
/* start new css code */
.logo-area{
	float: left;
	letter-spacing: -5px;
}
.logo{
	width: 69px;
	height: 69px;
	margin:0 40px 0 20px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.logo a{
	display:block;
	height:100%;
}
.logo a img{
	display:block;
	width:auto;
	margin:0 auto;
}
#header .title {
	font-size: 15pt;
	line-height:17pt;
	font-weight: 700;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
 .btn-back{
	 display: inline-block;
	 vertical-align: middle;
	 letter-spacing: 0;
	 width: 12px;
	 height: 20px;
 }
.btn-back img{
	width: 100%;
	height: auto;
	display: block;
}
.top-list{
	float: right;
	padding:17px 0 0;
	margin:0;
	list-style:none;
}
.top-list li{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 12px;
	width: 40px;
}
.top-list li:first-child{
	width: 38px;
}
.top-list li img{
	display: block;
	width:100%;
	height: auto;
}
/* end start css code */

#main{
	position: relative;
	overflow: hidden;
	padding:124px 17px 72px;
}

/* .accordion */

.accordion {
	margin:0;
	padding:0;
	list-style:none;
	overflow: hidden;
	width: 100%;
}
.accordion li {
	margin: 0;
}
.accordion .opener {
	display:block;
	color:#fff;
	height:1%;
	text-decoration:none;
	line-height:30px;
	padding:0;
	background:#999;
	position: relative;
	margin: 0 0 13.5pt;
}
.accordion li.active .opener,
.accordion li.active li.active .opener {
	background: #aaf;
}
.accordion .active .slide .opener {
	background:#999;
}
.accordion .opener img{
	display: block;
	width: 100%;
	height: auto;
}
.accordion .text{
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	color: #fff;
	padding:10pt 12pt;
}
.accordion li .text:after{
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff;
	font-size: 35px;
	line-height: 35px;
	position: absolute;
	top: 7px;
	right: 12pt;
}
.accordion li.active .text:after{content: "\f107";}
.accordion .text h3{
	margin: 0;
	font-size: 18pt;
	line-height: 20pt;
	font-weight: 700;
}
.accordion .slide{
	overflow: hidden;
}
.accordion .add-row{
	overflow: hidden;
	background: #fff;
	padding: 10pt;
	margin: 0 0 13.5pt;
	color: #919191;
	font-size: 14pt;
	line-height: 17pt;
}
.accordion .add-row h4{
	margin: 0;
	color: #000;
	font-weight: 700;
}
.accordion .add-row h4 span{
	padding: 3pt;
	font-size: 10pt;
	line-height: 13pt;
	display: inline-block;
	vertical-align: middle;
	background:rgb(238, 238, 238);
	-webkit-border-radius:4pt;
	-moz-border-radius:4pt;
	border-radius:4pt;
	color: #919191;
}
.accordion .add-row .box:after{
	display: block;
	content: '';
	clear: both;
}
.accordion .add-row .btn-icon{
	float: right;
	width:40px;
	height: 40px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin: -4px 0 8px 8px;
	text-indent: -9999px;
	background: url(../img/add.png) no-repeat;
	background-size: 100%;
}
.accordion .add-row .btn-icon.active{
	background: url(../img/add-active.png) no-repeat;
	background-size: 100%;
}
.accordion .add-row p{margin: 0 0 10px;}
.btn-ordernow{
	position: fixed;
	color: #fff;
	bottom: 0;
	left: 0;
	right:0;
	padding:10px;
	width: 100%;
	height: 70px;
	text-align: center;
	z-index: 99999;
	font-size: 20px;
	line-height: 50px;
	font-weight: 700;
	outline: none;
	background-image: linear-gradient(77deg, #34d861, #53e590);
}
.btn-ordernow:focus,
.btn-ordernow:hover{color: #fff;}