
.custom-drop-down {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #fff;
    height: 58px;
    border: solid 1px #676767;
}

    .custom-drop-down input {
        border: none;
        padding:15px;
        width:100%;
        background: #fff;
    }

.custom-drop-down-list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 45x;
    box-shadow: 0 7px 19px -2px #CACACA;
    background: white;
    display: none;
    border-radius: 0 0 15px 15px;
    border: 1px solid #CFCFCF;
    z-index: 9999999;
    font-size: 13px;
}
.custom-drop-down-list:before {

      content:"\A";
    width: 0;
height: 0;
border-style: solid;
border-width: 0 9px 11px 9px;
border-color: transparent transparent #CFCFCF transparent;
    position: absolute;
    right: 12px;
    top:-11px; 
}
.custom-drop-down-list:after {
      content:"\A";
    width: 0;
height: 0;
border-style: solid;
border-width: 0 8px 10px 8px;
border-color: transparent transparent white transparent;
    position: absolute;
    right: 13px;
    top:-10px; 

}



    .custom-drop-down-list ul , 
    .mini-popup #mini-popup-body ul {
        padding:15px 10px 15px 10px;
        margin: 0;
        width: 100%;
        list-style: none;
        max-height: 60vh;
        overflow: hidden;
        overflow-y: auto;
        font-size: 16px;
        line-height: 19px;
    }

        .custom-drop-down-list ul li , 
        .mini-popup #mini-popup-body ul li{
            padding:12px 15px;
            margin: 10px;
           /* border-bottom: 1px solid #EEEEEE;*/
           margin: 10px 0;
            width: 100%;
            margin: 0;
            border-radius: 7px;
            color: #919191;
        }
        .custom-drop-down-list ul li:nth-child(even) , 
        .mini-popup #mini-popup-body ul li:nth-child(even){
            background: #F5F5F3;
        }

         .custom-drop-down-list ul li:active , 
         .mini-popup #mini-popup-body ul li:active{
            background:#EEEEEE;
        }
            /*
            .custom-drop-down-list ul li:first-child {
                border-top: 1px solid #EEEEEE;
            }*/
.mini-popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.6);

}

.mini-popup #mini-popup-body{
    width: calc(100% - 34px);
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 9px;
}