@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff'), 
    url('../fonts/helveticaneue/HelveticaNeue Thin.ttf') format('truetype'),
	url('../fonts/helveticaneue/HelveticaNeue Thin.eot') format('eot');
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster.woff') format('woff'), 
    url('../fonts/lobster/Lobster.ttf') format('truetype'); 
}
html,  body {
  min-height: 100%;
}
html {box-sizing: border-box;}
body {
	margin: 0;
	color: #fff;
	font: 15px/18px 'HelveticaNeue', Arial, sans-serif, Helvetica;
	min-width: 320px;
	background: #f5f5f3;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
* {max-height: 1000000px;}
a{
	text-decoration: none;
	transition: all 1s;
}
a:hover{text-decoration: none;}
#wrapper{
	overflow: hidden;
	position: relative;
}
#header{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 15pt 15pt 10pt;
	background-image: linear-gradient(77deg, #ff7f00, #ffae5e);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
}
.brn-submit{
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 28px;
	color: #fff;
	height: 48px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	-webkit-border-radius: 0 0 13pt 13pt;
	-moz-border-radius:0 0 13pt 13pt;
	border-radius: 0 0 13pt 13pt ;
	background-image: linear-gradient(77deg, #53e590, #34d861);
}
.brn-submit:hover{
	background-image: linear-gradient(77deg, #34d861, #53e590);
	color: #ff7f00;
}
/* start new css code */
.logo-area{
	float: left;
	letter-spacing: -5px;
}
.logo{
	width: 69px;
	height: 69px;
	margin:0 40px 0 20px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
.logo a{
	display:block;
	height:100%;
}
.logo a img{
	display:block;
	width:100%;
	margin:0 auto;
}
#header .title {
	font-size: 15pt;
	line-height:17pt;
	font-weight: 700;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
}
 .btn-back{
	 display: inline-block;
	 vertical-align: middle;
	 letter-spacing: 0;
	 width: 12px;
	 height: 20px;
 }
.btn-back img{
	width: 100%;
	height: auto;
	display: block;
}
.top-list{
	float: right;
	padding:17px 0 0;
	margin:0;
	list-style:none;
}
.top-list li{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 12px;
	width: 40px;
}
.top-list li:first-child{
	width: 38px;
}
.top-list li img{
	display: block;
	width:100%;
	height: auto;
}
.top-list li{position: relative;}
.top-list li .price{
	width: 22px;
	height:22px;
	position: absolute;
	right:-7px;
	bottom: -8px;
	background: #fff;
	border-radius: 50%;
	color: #ff7f00;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	text-align: center;
}
/* end start css code */

#main{
	position: relative;
	overflow: hidden;
	padding:124px 17px 72px;
}

/* .accordion */

.accordion {
	margin:0;
	padding:0;
	list-style:none;
	overflow: hidden;
	width: 100%;
}
.accordion li {
	margin: 0;
}
.accordion .opener {
	display:block;
	color:#fff;
	height:1%;
	text-decoration:none;
	line-height:30px;
	padding:0;
	background:#999;
	position: relative;
	margin: 0 0 13.5pt;
}
.accordion li.active .opener,
.accordion li.active li.active .opener {
	background: #aaf;
}
.accordion .active .slide .opener {
	background:#999;
}
.accordion .opener img{
	display: block;
	width: 100%;
	height: auto;
}
.accordion .text{
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	color: #fff;
	padding:10pt 12pt;
}
.accordion li .text:after{
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff;
	font-size: 35px;
	line-height: 35px;
	position: absolute;
	top: 7px;
	right: 12pt;
}
.accordion li.active .text:after{content: "\f107";}
.accordion .text h3{
	margin: 0;
	font-size: 18pt;
	line-height: 20pt;
	font-weight: 700;
}
.accordion .slide{
	overflow: hidden;
}
.accordion .add-row{
	overflow: hidden;
	background: #fff;
	padding: 10pt;
	margin: 0 0 13.5pt;
	color: #919191;
	font-size: 14pt;
	line-height: 17pt;
}
.accordion .add-row h4{
	margin: 0;
	color: #000;
	font-weight: 700;
}
.accordion .add-row h4 span{
	padding: 3pt;
	font-size: 10pt;
	line-height: 13pt;
	display: inline-block;
	vertical-align: middle;
	background:rgb(238, 238, 238);
	-webkit-border-radius:4pt;
	-moz-border-radius:4pt;
	border-radius:4pt;
	color: #919191;
}
.accordion .add-row .box:after{
	display: block;
	content: '';
	clear: both;
}
.accordion .add-row .btn-icon{
	float: right;
	width:40px;
	height: 40px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	margin: -4px 0 8px 8px;
	text-indent: -9999px;
	background: url(../img/add.png) no-repeat;
	background-size: 100%;
	outline: none;
}
.accordion .add-row .btn-icon.active{
	background: url(../img/add-active.png) no-repeat;
	background-size: 100%;
}
.accordion .add-row p{margin: 0 0 10px;}
.btn-ordernow{
	position: fixed;
	color: #fff;
	bottom: 0;
	left: 0;
	right:0;
	padding:10px;
	width: 100%;
	height: 70px;
	text-align: center;
	z-index: 99;
	font-size: 20px;
	line-height: 50px;
	font-weight: 700;
	outline: none;
	background-image: linear-gradient(77deg, #34d861, #53e590);
}
.btn-ordernow:focus,
.btn-ordernow:hover{color: #fff;}
.menu-page .modal-content{
	padding: 40px;
}
.menu-page h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0.3px;
	color: #000;
	margin: 0;
	text-align: center;
}
.menu-page .close {
	position: absolute;
	top: -65px;
	left: -5px;
	padding: 0;
	cursor: pointer;
	font-size: 45px;
	line-height: 45px;
	color: #fff;
	opacity: 1;
}
#cart-popup .modal-content{
	padding: 0;
	border: none;
	border-radius: 13px;
}
.cart-holder{
	overflow: hidden;
	padding: 40px;
	background: #ff7f00;
	border-radius: 13px 13px 0 0;
}
.cart-holder img{
	display: block;
	margin:0 auto 33px;
}
.menu-page .cart-holder h3{color: #fff;}
.list{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0.3px;
	text-align: center;
}
.list li{
	float: left;
	width: 50%;
	padding: 15px;
	border-left:1px solid #ff7f00;
}
.list li:first-child{border:none;}
.list li a{
	color: #000;
	display: block;
	text-decoration: none;
}
/* order popup style */
.order .modal-content{
	padding:0 0 50px;
	border-radius: 13px;
	overflow: hidden;
}
.popup-header{
	position: relative;
	background-image: url("../img/new-bg-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5vh;
	transition: all 1s;
}
.popup-header:after{
	display: block;
	clear: both;
	content: '';
}
.order.small .popup-header{padding: 60px 44px 0;}
.order.small .txt p{display: none;}
.popup-header .txt{
	overflow: hidden;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	text-align: center;
}
.popup-header .txt p{margin: 0;}
.popup-header h2{
	font-size: 24px;
	line-height: 27px;
	font-weight: 600;
	margin: 0 0 2vh;
}
.popup-header .wrap{overflow: hidden;}
.popup-header .btn-nis{
	float: right;
	padding: 5px 10px;
	background: #ff7f00;
	margin:0;
	position: absolute;
	right:5vh;
	bottom:-13px;
	z-index: 9999;
	border-radius: 3px;
}
.order .close.black{
	color: #000;}
.order .close{
	top:0;
	left: 5vh;
	z-index: 9999;
	font-size: 5vh;
	line-height: 5vh;
}
.order.small .close{top:10px;}

/* get style from old popup */
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.box-frame{
	overflow-y: scroll;
	padding: 5vh;
	position: relative;
	background: #fff;
	width: 100%;
	max-height: 59vh;
}
.order ul{
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.order ul li{
	padding: 0 0 10px;
}
input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: 0px;
	visibility:hidden;
}

input[type="radio"] + label, input[type="checkbox"] + label {
	background: url('../img/uncheck01.png') 0px 0px no-repeat;
	width: 100%;
	display: block;
	padding: 6px 0 6px 50px !important;
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	color: #919191;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	background: url('../img/check02.png') 0 0px no-repeat;
}

.order .add-row{
	padding: 25px 0;
	font-size: 16px;
	line-height: 19px;
	border-top: solid 1px #979797;
}
.order .add-row:after{
	display: block;
	content: "";
	clear: both;
}
.order .add-row.first{
	border: none;
	padding: 0 0 25px;
}
.order .add-row p{margin:  0 0 25px;}
.order h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
	color: #000;
	margin: 0 0 20px;
	text-align: left;
}
.text-holder{
	overflow: hidden;
	position: relative;
	padding: 0;
	border-bottom: 1px solid #979797;
}
.text-holder:before{
	width: 1px;
	height: 10px;
	background: #979797;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 99;
}
.text-holder:after{
	width: 1px;
	height: 10px;
	background: #979797;
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.text-holder textarea{
	display: block;
	width:100%;
	border: none;
	height: 40px;
	resize: vertical;
	min-height: 40px;
	position: relative;
	color: #797979;
	font-size:16px;
	line-height: 19px;
	padding: 10px 0;
	background: #fff;
}
.edit{
	margin: 10px 8px 0;
}
.resize{
	position: absolute;
	right:0;
	bottom: -1px;
}
.order .btn-submit {
	width: 100%;
	height: 78px;
	padding: 10px;
	border-radius:0 0 13px 13px;
	background-image: linear-gradient(77deg, #34d861, #53e590);
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
}
.order .btn-submit:hover{background-image: linear-gradient(249deg, #53e590, #34d861);}
.order .add-row.error .red{
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
	color: #ff3838;
	display: block;
	padding: 10px 0;
}
.order .add-row .red{display: none;}
.error .custom-drop-down{border-color:#ff3838;}
/*  popup info style  */
#popup-info .modal-content{
	max-height: 96vh;
	overflow-y: scroll;
	border-radius: 13px;
}
#popup-info .modal-content:after{
	display: block;
	clear: both;
	content: '';
}
.info .first-col{
	padding: 40px;
	position: relative;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background-image: linear-gradient(197deg, #ffae5e, #ff7f00);
}
.info .first-col .btn-phone{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	display: block;
	line-height: 80px;
	position: absolute;
	bottom: -40px;
	right: 30px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.info .img-frame {
	width: 138px;
	height: 138px;
	padding: 16px;
	padding: 0;
	margin: 0 auto 10px;
	background: none;
	border: 7px solid #ffbe80;
	background-size: cover;
	position: relative;
	border-radius: 50%;
	z-index: 1;
}
.info .img-frame:after{
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 33px solid #ffbe80;
	transform: rotate(45deg);
	position: absolute;
	right: -14px;
	bottom: -12px;
	content: "";
	z-index: -1;
}
.info .img-frame img{
	width: 99%;
	display: block;
	height: auto;
	margin: 0;
}
.info{
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	color: #fff;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:13px;
}
.info h2{
	font-size: 30px;
	line-height: 33px;
	font-weight: 300;
	margin: 0 0 18px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.info p{margin: 0 0 20px;}
.info .wrap{
	overflow: hidden;
	padding:0;
}
.info .cart{
	margin: 0 0 49px;
	padding: 0 0 0 30px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.info .cart:before{
	width: 20px;
	height: 18px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/cart.png) no-repeat;
}
.info .close{
	position: absolute;
	top: 24px;
	left: 33px;
	color: #fff;
	z-index: 99;
	font-size: 50px;
	line-height:50px;
	text-shadow:none;
	opacity: 1;
}
.mobile-sec{
	position: absolute;
	left: 0;
	right:0;
	bottom:20px;
	width: 100%;
	display: block;
}
.info .second-col{
	padding: 40px 40px 0;
	position: relative;
}
.mypopup.info .add-row{
	color: #919191;
	padding:25px 0;
	border-top: solid 1px #979797;
}
.mypopup.info .add-row:first-child{
	border:none;
	padding:0 0 25px;
}
.info .title {
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	color: #000000;
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 0 30px;
	display: block;
}
.info .title:before{
	width: 20px;
	height: 20px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/ic_timer.png) no-repeat;
	background-size: 100%;
}
.info .title2:before{background: url(../img/ic_home.png) no-repeat;}
.info .title3:before{
	width: 24px;
	height: 18px;
	background: url(../img/gallery-img.png) no-repeat;
}
.info .table{
	width:100%;
	border-collapse: collapse;
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	color: #919191;
}
.info .table td{
	padding: 2px;
	border:none;
	text-align: right;
}
.info .table td:first-child{text-align: left;}

.info .carousel-inner,
.info .carousel-inner>.item{
	width: 255px;
	margin: 0 auto;
}
.info .carousel-inner>.item img{
	width:100%;
	height: auto;
	display: block;
}
.info .carousel-control{
	width: 16.1px;
	height: 25.2px;
	top:50%;
	background: none;
	box-shadow: none;
	margin: -12px 0 0;
	opacity:1;
	color: #000;
	font-size: 40px;
	line-height: 40px;
}
.info .carousel-control.left {left: 0;}
.info .carousel-control.right {right:0;}
@media only screen
and (max-device-width : 320px)
and (orientation : portrait){
	/*#header{min-height:87px;}*/
	.logo{
		width: 50px;
		height: 50px;
		margin:0 20px 0 10px;
	}
	.top-list{padding: 10px 0 0;}
	.top-list li{width: 35px;}
	.top-list li:first-child {width: 32px;}
	#main{padding: 100px 10px 55px;}
	.btn-ordernow{
		height: 50px;
		line-height: 30px;
	}
	.btn-ordernow{margin: 0 0 10pt;}
	.cart-holder {padding: 20px;}
	.cart-holder img{
		width: 100px;
		height: auto;
		margin: 0 auto 10px;
	}
	/*.cart-holder img{padding: 20px;}*/
	.menu-page h3{
		font-size: 21px;
		line-height: 24px;
	}
	.order .btn-submit{
		height: 50px;
	}
	.box-frame{max-height: 48vh;}
	.info .first-col{padding: 40px 20px;}
	.info .second-col{padding: 50px 20px 0;}
}

/* start food cart popup */
#food-cart-popup  .modal-content{padding: 0 0 78px;}
#food-cart-popup .box-frame{padding: 2vh 4vh;}
.popup-header.red{
	text-align: center;
	background:url(../img/grey.png) no-repeat;
	background-size: cover;
	color: #000;
	padding: 5vh 5vh 14vh;
	position: relative;
	/*background-image: linear-gradient(to left, #fea554, #f46c00);*/
}
.popup-header.red .title-add{
	color: #bbb;}
.popup-header .title-add {
	font-size: 30px;
	line-height: 35px;
	font-weight: 600;
	margin: 0 0 2vh;
}
#food-cart-popup .add-row{
	color: #919191;
	padding: 15px 0;
	font-size: 20px;
	line-height: 23px;
}
#food-cart-popup .header-row{
	color: #000;
	font-weight:600;
	padding: 0 0 10px;
}
#food-cart-popup .header-row h2{
	margin: 0;
	font-weight:600;
	font-size: 20px;
	line-height: 23px;
}
#food-cart-popup .dim{
	display: block;
	text-align: center;
	padding: 0;
}
#food-cart-popup .add-row p{margin: 0;}
.switch-btn {
	color: white;
	position: relative;
	width: 62px;
	float: right;
	font-size: 13px;
	line-height: 1px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	border-radius: 20px;
	background-image: linear-gradient(to left, #fea554, #f46c00);
}
.rtl .switch-btn {
	float:left;
}

.switch-btn img {
	padding: 0;
	width: 22px;
	transform: scale(0.95);
	transition: all ease-in-out .2s;
	float: left;
	position: relative;
	bottom: -1px;
	cursor: pointer;
}
.switch-btn img:hover{opacity: 0.7;}
.switch-btn img:active {
	transform: scale(0.6);
}


.switch-btn .count {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	line-height: 9px;
	transform: translate(-50%,-50%);
}

.switch-btn img:last-child {
	margin: 2px 0 1px 10px;
	line-height: 20px;
	float: right;
	padding: 0;
	bottom: 0px;
}
/* end food cart popup */
/* start customer-info-popup */
.box-frame.new{
	padding: 0;
}
.head-popup{
	overflow: hidden;
	text-align: center;
	padding:20px 0 0;
	background:url(../img/bh-header.png) no-repeat;
	background-size: cover;
}
.order .head-popup h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	color: #000;
	margin: 0 0 20px;
	text-align: center;
}
.new .text-holder{margin: 0 0 50px;}
.wrap-col{
	overflow: hidden;
	padding: 85px 4vh 0;
}
.new .edit {
	width: 25px;
	margin: 0 8px 2px;
}
.new .edit.email {
	width: 25px;
	margin: 10px 8px 2px;
}
.box-frame.new select,
.box-frame.new input[type="tel"],
.box-frame.new input[type="text"],
.box-frame.new input[type="email"]{
	display: block;
	width: 100%;
	border: none;
	height: 40px;
	resize: vertical;
	min-height: 40px;
	position: relative;
	color: #797979;
	font-size: 16px;
	line-height: 19px;
	padding: 10px;
	background: none;
	outline: none;
}
/* end customer-info-popup */
/* end customer-info-popup */
.title-txt{
	overflow: hidden;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #000;
	position: relative;
	padding: 6px 0 6px 50px !important;
	border-bottom: 1px solid #000;
}
.title-txt:after{
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	width: 35px;
	height: 35px;
	margin: -21px 0 0;
	background: url('../img/group.png') no-repeat;
	background-size: 100%;
}
.order .checkbox-list{
	padding:20px 0 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.order .checkbox-list li{
	padding: 0 0 20px;
	background: none;
	box-shadow: none;
}
.checkbox-list li label span{
	display:block;
	color: #000;
}
input[type="radio"], input[type="checkbox"] {
	position: absolute;
	left: 0px;
	visibility:hidden;
}
input[type="radio"] + label, input[type="checkbox"] + label {
	background: url('../img/uncheck01.png') 0px 50% no-repeat;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	padding: 6px 0 6px 50px !important;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: #919191;
}
input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	background: url('../img/check02.png') 0 50% no-repeat;
}
/* end customer-info-popup */
/* start delivery-popup */
#delivery-popup .head-popup{padding: 24px 0 4px;}
#delivery-popup .new .text-holder { margin: 0 0 20px;}
#delivery-popup .order .modal-content{padding:0 0 78px;}
#delivery-popup .new .edit {margin: 5px 8px 0;  }
.my-btn-holder{
	position: absolute;
	left:0;
	right:0;
	bottom: 0;
	overflow: hidden;
}
.my-btn-holder .btn-summary {
	width: 69%;
	height: 78px;
	padding: 10px;
	border-radius:0 0 13px 0;
	background-image: linear-gradient(77deg, #34d861, #53e590);
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	float: right;
}
.my-btn-holder .btn-back{
	width: 30%;
	background-image: linear-gradient(77deg, #53e590, #34d861);
	height: 78px;
	padding: 10px;
	border-radius:0 0 0 13px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #fff;
	border: none;
	float: left;
}
.my-btn-holder .btn-back img{
	display: block;
	width: auto;
	margin: 0 auto;
}
.my-btn-holder .btn-back:hover{background-image: linear-gradient(77deg, #34d861, #53e590);}
.my-btn-holder .btn-summary:hover{background-image: linear-gradient(249deg, #53e590, #34d861);}
/* end delivery-popup */
#payment-popup .order .modal-content {padding: 0 0 77px;  }
.order .card-columns{
	padding: 40px 0;
	margin: 0;
	list-style: none;
	letter-spacing: -5px;
	text-align: center;
}
.order .card-columns li{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	padding: 0 3%;
	width: 47%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.order .card-columns:after{
	display: block;
	content: "";
	clear: both;
}
.card-box{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	padding: 0;
	display: table;
	text-align: center;
	background: #fff;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.29);
}
.card-box .card-col{
	display: table-cell;
	vertical-align: middle;
}
.card-col img{
	display: block;
	width: auto;
	margin: 0 auto;
}
.card-box span{
	display:block;
	color: #919191;
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	margin: 0 0 5px;
}
#payment-popup .head-popup{
	padding: 28px 0 10px;
}
.txt-frame{
	overflow: hidden;
	padding: 0 10%;
}
.txt-frame .text-holder { margin: 0;}
.txt-frame .error-field{
	margin: 0 0 30px;
	overflow: hidden;
}
.text-holder.col{
	margin-right: 10px;
}
.txt-frame .text-holder input[type="number"]::-webkit-outer-spin-button,
.txt-frame .text-holder input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.txt-frame .text-holder input[type="number"] {
	-moz-appearance: textfield;
}
button::-moz-focus-inner, input::-moz-focus-inner{display: none;}
.text-holder.error{border-color: #ff0a0a;}
.text-holder.error:before{background: #ff0a0a;}
.text-holder.error:after{background: #ff0a0a;}
.error-span {
	font-size: 16px;
	display: block;
	margin-left: 10px;
	color: #f00;
	margin-top: 10px;
}
/*.text-holder{*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*padding: 0;*/
	/*border-bottom: 1px solid #979797;*/
/*}*/
/*.text-holder:before{*/
	/*width: 1px;*/
	/*height: 10px;*/
	/*background: #979797;*/
	/*content: "";*/
	/*position: absolute;*/
	/*left: 0;*/
	/*bottom: 0;*/
/*}*/
/*.text-holder:after{*/
	/*width: 1px;*/
	/*height: 10px;*/
	/*background: #979797;*/
	/*content: "";*/
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
/*}*/
.txt-frame .left-field,
.txt-frame .right-field,
.txt-frame .text-holder textarea,
.txt-frame .text-holder select,
.txt-frame .text-holder input[type="tel"],
.txt-frame .text-holder input[type="number"],
.txt-frame .text-holder input[type="text"],
.txt-frame .text-holder input[type="email"]{
	display: block;
	width:100%;
	border: none;
	height: 35px;
	color: #797979;
	font-size:16px;
	line-height: 19px;
	padding: 0 10px;
	background: none;
	outline: none;
}
.txt-frame .devider {
	display: inline-block;
	vertical-align: bottom;
	margin: 9px 0 0;
	color: #979797;
}
/*.left-field,*/
/*.right-field{*/
	/*padding:10px !important;*/
/*}*/
/*.text-holder .add-box,*/
/*.text-holder select{padding: 10px !important;}*/
.txt-frame .edit{margin: 6px 8px 0;}
.order .header-links{
	list-style:none;
	padding: 0;
	margin: 0;
	color: #000;
	position: absolute;
	left:0;
	right:-5vh;
	bottom: -70px;
	z-index: 9999;
	white-space: nowrap;
	overflow: inherit;
}
.order .header-links:after{
	width:100%;
	height: 66%;
	position: absolute;
	top:44%;
	left: 0;
	right:0;
	bottom:0;
	content: '';
	background: #fff;
	z-index: -1;
}
.order .header-links li{
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	text-align: center;
}
.order .header-links li.active{padding:30px 10px 0;}
.order .header-links h4{
	font-size: 18px;
	line-height: 21px;
	font-weight:400;
}
.order .header-links li .img-box{
	width:54px;
	height:54px;
	margin: 0 auto;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-align: center;
	line-height: 54px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	display: block;
	background: #fff;
}
.order .header-links li.active .img-box{
	background: #f46c00;
}
.order .header-links li .edit{
	width: 25px;
	margin: 0;
}